openapi: 3.2.0
info:
  title: Sirenic Eu API
  version: 1.0.0
  contact:
    email: contact@sirenic.eu
  license:
    name: 'Data: Licence Ouverte / Open License Etalab 2.0'
    url: https://www.etalab.gouv.fr/licence-ouverte-open-licence/
  description: 'Operations tagged Eu across 2 of this provider''s published API definitions: sirenic-eu-openapi.json, sirenic-eu-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sirenic.eu
security:
- {}
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Eu
paths:
  /v1/eu/recherche:
    get:
      summary: Search European companies across official registers (unified schema)
      x-price: $0.003
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        example: equinor
        description: Company name — 2 to 100 characters once unsupported characters are stripped.
      - name: pays
        in: query
        required: false
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: 'NO'
        description: Optional ISO-3166 alpha-2 country filter
      responses:
        '200':
          description: 'Top 10 matches with country, national ID, name, normalized status, city, source register (local registers + worldwide GLEIF) and score_confiance (0-1 match confidence). Registers are queried in PARALLEL, each under a time budget: any register that stays silent is REPORTED in registres_muets (empty array = every queried register answered) — a silent miss is never served as an empty result. If every register is silent, the call is a 503 and nothing is charged.'
          content:
            application/json:
              example:
                nombre_resultats: 10
                registres_muets: []
                resultats:
                - pays: 'NO'
                  id_national: '923609016'
                  denomination: EQUINOR ASA
                  statut: actif
                  ville: STAVANGER
                  registre: Enhetsregisteret (Brønnøysundregistrene)
                  correspondance: registre_local
                  score_confiance: 1
                pays_couverts:
                - pays: 'NO'
                  registre: Enhetsregisteret (Brønnøysundregistrene)
                  mode: base locale
                  entites: 1168483
                source: 'Registres officiels : Brønnøysundregistrene (NO, NLOD), e-Business Register (EE, CC-BY 4.0), Uzņēmumu reģistrs (LV), KBO/BCE (BE), CVR (DK), Companies House (GB, OGL), ARES (CZ), Register právnických osôb (SK, CC-BY 4.0), PRH/YTJ (FI, CC-BY 4.0), Krajowy Rejestr Sądowy (PL), Zefix (CH, OGD), Bolagsverket (SE), GLEIF (CC0)'
                disclaimer: Données rediffusées telles que publiées par les registres officiels, dans un schéma unifié ; `statut` est une normalisation en 3 valeurs, le libellé source est conservé dans `statut_detail`. / Official register data as published, unified schema; `statut` is a 3-value normalization.
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuRecherche
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/{pays}/{id}:
    get:
      summary: Unified European company profile
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: pays
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: 'NO'
        description: ISO-3166 alpha-2 country code (NO, EE, LV, BE, CH, CZ, SK, FI, PL; DK/GB when enabled)
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '923609016'
        description: National register identifier
      responses:
        '200':
          description: 'Same JSON schema for every country: identity, legal form, normalized status (+ source label), creation date, head office, VAT, LEI, official register link, data freshness. Belgian profiles also carry NACEBEL activities (French labels) and the establishment-unit list. Every profile carries groupe_lei (GLEIF level-2: direct and ultimate consolidating parents with lei, denomination, pays and the declared relationship, or absence_mere with the declared reason; declaration = relation | exception | aucune; sans_objet without a LEI; indisponible marker when the daily golden copy is missing or stale — never a 503 for this block), and financements_ue (CORDIS: Horizon 2020 / Horizon Europe projects matched by the published VAT number for BE, DK, FI, SE, CZ, CH, NO and LV profiles — totals, five most recent projects, partial coverage; sans_objet elsewhere). Plus score_defaillance (statut non_evaluable + closed-list reasons: no default-risk score outside France — see GET /v1/lecture).'
          content:
            application/json:
              example:
                pays: GB
                registre: Companies House
                id_national: '00000006'
                lei: null
                denomination: MARINE AND GENERAL MUTUAL LIFE ASSURANCE SOCIETY
                forme_juridique:
                  code: private-unlimited-nsc
                  libelle: null
                statut: cesse
                statut_detail: dissolved
                date_creation: '1862-10-25'
                adresse_siege:
                  adresse: Cms Cameron Mckenna Llp Cannon Place
                  code_postal: EC4N 6AF
                  ville: London
                  pays: GB
                activite:
                  nomenclature: SIC-2007
                  code: '65110'
                  libelle: null
                identifiants:
                  tva: null
                  lei: null
                lien_registre: https://find-and-update.company-information.service.gov.uk/company/00000006
                data_freshness: Companies House temps réel (cache 24 h)
                source: 'Registres officiels : Brønnøysundregistrene (NO, NLOD), e-Business Register (EE, CC-BY 4.0), Uzņēmumu reģistrs (LV), KBO/BCE (BE), CVR (DK), Companies House (GB, OGL), ARES (CZ), Register právnických osôb (SK, CC-BY 4.0), PRH/YTJ (FI, CC-BY 4.0), Krajowy Rejestr Sądowy (PL), Zefix (CH, OGD), Bolagsverket (SE), GLEIF (CC0)'
                disclaimer: Données rediffusées telles que publiées par les registres officiels, dans un schéma unifié ; `statut` est une normalisation en 3 valeurs, le libellé source est conservé dans `statut_detail`. / Official register data as published, unified schema; `statut` is a 3-value normalization.
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseByPaysById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/BE/{id}:
    get:
      summary: BE company profile from its national register
      description: 'Official Belgian company registry lookup (KBO/BCE, Banque-Carrefour des Entreprises / Kruispuntbank van Ondernemingen). Query: /v1/eu/entreprise/BE/0403199702 (10-digit enterprise number, with or without dots). Returns legal name, legal form, normalized status, incorporation date, registered office, NACEBEL activities with French labels, the establishment-unit list, VAT number and LEI, plus a link to the official register entry — Belgian company data from KBO/BCE open data, refreshed daily.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '0403170701'
        description: National register identifier for BE.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseBEById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/CH/{id}:
    get:
      summary: CH company profile from its national register
      description: 'Official Swiss company registry lookup (Zefix — Central Business Name Index / Registre central du commerce), covering companies registered in Switzerland. Query: /v1/eu/entreprise/CH/CHE-107.480.920 (CHE UID number, with or without dots). Returns legal name, legal form, normalized status, registered office and the cantonal register link — Swiss company data live from Zefix. Same unified JSON schema as every Sirenic European company profile.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: CHE-107.480.920
        description: National register identifier for CH.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseCHById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/NO/{id}:
    get:
      summary: NO company profile from its national register
      description: 'Official Norwegian company registry lookup (Brønnøysundregistrene / Enhetsregisteret — BRREG open data). Query: /v1/eu/entreprise/NO/923609016 (9-digit organisasjonsnummer). Returns legal name, legal form, normalized status, incorporation date, registered office, VAT/MVA and LEI — Norwegian company data from Norway''s official register, the Enhetsregisteret (NLOD open data). Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '923609016'
        description: National register identifier for NO.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseNOById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/CZ/{id}:
    get:
      summary: CZ company profile from its national register
      description: 'Official Czech company registry lookup (ARES — register of economic subjects, Ministry of Finance of Czechia). Query: /v1/eu/entreprise/CZ/45274649 (8-digit IČO / ICO identifier). Returns legal name, legal form, normalized status, incorporation date, registered office and the DIČ (DIC) VAT number — Czech company data live from ARES, the official register of companies in Czechia. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '45274649'
        description: National register identifier for CZ.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseCZById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/SK/{id}:
    get:
      summary: SK company profile from its national register
      description: 'Official Slovak company registry lookup (RPO — Register právnických osôb, the register of legal entities of Slovakia, Statistical Office SR, CC-BY). Query: /v1/eu/entreprise/SK/35763469 (8-digit IČO / ICO identifier). Returns legal name, legal form, normalized status, incorporation date and registered office — Slovak company data live from the official RPO register of Slovakia. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '35763469'
        description: National register identifier for SK.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseSKById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/FI/{id}:
    get:
      summary: FI company profile from its national register
      description: 'Official Finnish company registry lookup (PRH / YTJ — Finnish Patent and Registration Office Business Information System, CC-BY). Query: /v1/eu/entreprise/FI/0112038-9 (Business ID / Y-tunnus). Returns legal name, legal form, normalized status, registered office and the FI VAT number — Finnish company data live from the PRH open data API, covering companies registered in Finland. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: 0112038-9
        description: National register identifier for FI.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseFIById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/PL/{id}:
    get:
      summary: PL company profile from its national register
      description: 'Official Polish company registry lookup (KRS — Krajowy Rejestr Sądowy, the National Court Register of Poland, Ministry of Justice). Query: /v1/eu/entreprise/PL/0000006865 (10-digit KRS number). Returns legal name, legal form, normalized status, incorporation date and registered office — Polish company data live from KRS (officers anonymized at the source). Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: 0000006865
        description: National register identifier for PL.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntreprisePLById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/EE/{id}:
    get:
      summary: EE company profile from its national register
      description: 'Official Estonian company registry lookup (e-Business Register / Äriregister of Estonia). Query: /v1/eu/entreprise/EE/12417834 (8-digit registrikood). Returns legal name, legal form, normalized status, incorporation date and registered office — Estonian company data from Estonia''s official e-Business Register. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '12417834'
        description: National register identifier for EE.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseEEById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/LV/{id}:
    get:
      summary: LV company profile from its national register
      description: 'Official Latvian company registry lookup (Uzņēmumu reģistrs / Uznemumu registrs — the Register of Enterprises of Latvia). Query: /v1/eu/entreprise/LV/40003245752 (11-digit registration number). Returns legal name, legal form, normalized status, incorporation date and registered office — Latvian company data from Latvia''s official register. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '40003245752'
        description: National register identifier for LV.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseLVById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/CY/{id}:
    get:
      summary: Cypriot company profile (Registrar of Companies DRCOR — monthly snapshot of…
      description: 'Official Cypriot company registry lookup (Registrar of Companies, DRCOR — monthly open-data snapshot on data.gov.cy, CC BY 4.0). Query: /v1/eu/entreprise/CY/HE165 (number with its HE or AE prefix; business names, partnerships and BN are not legal persons and are not served). Current name, type and sub-type, one of 12 dated register statuses (registered, struck off, liquidation, receivership…), registration date, registered office, plus registre_cy (status family, mandates count).'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^(HE|AE)\d{1,7}$
        example: HE165
        description: 'Registration number with its prefix: HE (company) or AE (overseas company); Greek homograph letters and a space are accepted and canonicalised'
      responses:
        '200':
          description: Unified profile (current name, type and sub-type as legal form, normalised status with the register status detail, registration date, registered office, LEI) plus `registre_cy` (type, sub-type, status with closed-list family and date, procedure_au_registre, registered office parts, mandates count, nom_courant_seul), `groupe_lei`, `financements_ue`, `provenance`.
          content:
            application/json:
              example:
                pays: CY
                registre: Department of the Registrar of Companies and Intellectual Property (DRCOR, Τμήμα Εφόρου Εταιρειών)
                id_national: HE165
                denomination: BANK OF CYPRUS PUBLIC COMPANY LIMITED
                forme_juridique:
                  code: HE
                  libelle: Εταιρεία — Δημόσια
                statut: actif
                statut_detail: null
                date_creation: '1943-12-31'
                adresse_siege:
                  adresse: Στασίνου, 51
                  code_postal: '2002'
                  ville: Στρόβολος
                  pays: CY
                identifiants:
                  tva: null
                  lei: null
                registre_cy:
                  statut: servi
                  photo: '2026-09-08'
                  type:
                    code: HE
                    prefixe: ΗΕ
                    libelle_el: Εταιρεία
                    fr: société
                  numero_registre: 165
                  sous_type:
                    libelle_el: Δημόσια
                    code: publique
                  etat:
                    libelle_el: Εγγεγραμμένη
                    famille: aucun
                    fr: inscrite
                    depuis: null
                  procedure_au_registre: false
                  inscrit_le: '1943-12-31'
                  siege:
                    ligne: Στασίνου, 51
                    territoire: Αγία Παρασκευή, Στρόβολος, 2002, Λευκωσία, Κύπρος
                    code_postal: '2002'
                    ville: Στρόβολος
                    pays_libelle: Κύπρος
                  mandats_publies: 12
                  nom_courant_seul: true
        '400':
          description: 'Invalid number (not HE/AE + digits), or a business name / partnership / BN (type_non_servi: not legal persons) — payment not taken. Never charged. / Jamais facturé.'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown number in the monthly snapshot (registered and struck-off companies are both published) — payment cancelled.
        '503':
          description: Monthly snapshot not yet loaded or older than 45 days (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseCYById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/SE/{id}:
    get:
      summary: SE company profile from its national register
      description: 'Official Swedish company registry lookup (Bolagsverket — Swedish Companies Registration Office). Query: /v1/eu/entreprise/SE/5560012402 (10-digit organisationsnummer). Returns legal name, legal form, normalized status, registration date and registered office — Swedish company data for Sweden, from Bolagsverket''s official weekly national file, free of charge under the EU high-value datasets regulation. Part of Sirenic''s Nordics coverage, unified JSON schema.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '5560012402'
        description: National register identifier for SE.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
      tags:
      - Eu
      operationId: getV1EuEntrepriseSEById
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/ES/{hoja}/actes:
    get:
      summary: Spanish company acts from the BORME gazette (Registro Mercantil, section A), by…
      description: 'Spanish company acts from the official BORME gazette (Registro Mercantil, section A) by hoja registral — the register key, e.g. VI-23141: incorporations, officer appointments and dismissals (role + name), capital changes, mergers, dissolutions, insolvency. Daily filings flow since 2009, newest first (100 max + total count). Spanish personal IDs (DNI/NIE) and natural-person sole-shareholder names are redacted at ingestion. Basado en datos de la Agencia Estatal Boletin Oficial del Estado (boe.es).'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: hoja
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9][A-Za-z0-9 .-]{1,24}$
        example: VI-23141
        description: Hoja registral (register-sheet key, e.g. VI-23141) — get it from /v1/eu/recherche?pays=ES. The BORME does not publish the NIF; the hoja is the native key.
      responses:
        '200':
          description: 'Company acts, newest first (100 max + total count): date, province, open-vocabulary types, full act body. GDPR redactions (DNI/NIE, natural-person sole shareholders) are marked « […] » as required by the BOE licence. Officer names (role + name) are served as published.'
          content:
            application/json:
              example:
                pays: ES
                hoja: VI-14412
                denomination: OSG IBERICA TOOLING, SOCIEDAD LIMITADA
                nif: null
                rattachement_nif: non disponible — le BORME (sección A) ne publie pas le NIF
                nombre_actes: 1
                actes_tronques: false
                actes:
                - fecha: '2026-07-23'
                  numero: 344928
                  provincia: ARABA/ÁLAVA
                  id_document: BORME-A-2026-140-01
                  types:
                  - fusion por absorcion
                  corps: 'Fusión por absorción. Sociedades absorbidas: OSG NST IBERICA SOCIEDAD LIMITADA.  Datos registrales. S 8 , H VI 14412, I/A 32 (15.07.26).'
                source: BORME sección A (actos inscritos) — Basado en datos de la Agencia Estatal Boletín Oficial del Estado (https://www.boe.es)
        '400':
          description: Invalid hoja format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown hoja (no act since 2009) or non-ES country — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseESByHojaActes
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/NO/{id}/comptes:
    get:
      summary: Norwegian annual accounts (Regnskapsregisteret) — latest year live + every year…
      description: 'Norwegian company annual accounts and financial statements from Norway''s official Regnskapsregisteret (Brønnøysundregistrene, Brreg, NLOD 2.0). Query: /v1/eu/entreprise/NO/923609016/comptes (9-digit organisasjonsnummer). Latest filed fiscal year live from the register plus earlier years collected since 2026-07 — financials: balance sheet (assets, equity, debts), P&L (operating income and result, net result) in the filing currency (can be USD). Banks and insurers are not served by the source.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '923609016'
        description: 9-digit Norwegian organisasjonsnummer (no spaces)
      responses:
        '200':
          description: 'All fiscal years accumulated for this company, newest first: balance sheet (total assets, fixed/current assets, equity, debts short/long term), P&L (operating income and result, pre-tax and net result), filing currency (can be USD — never converted), small-company regime and liquidation flags, plus per-year collection date. The register only serves the latest year: earlier years appear once Sirenic has seen them (accumulated since 2026-07).'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '923609016'
                nombre_exercices: 1
                exercices:
                - date_cloture: '2024-12-31'
                  debut_exercice: '2024-01-01'
                  devise: USD
                  oppstillingsplan: store
                  petite_entreprise: false
                  bilan:
                    total_actif: 109150000000
                    capitaux_propres: 41090000000
                    dettes: 68060000000
                  resultat:
                    produits_exploitation: 72543000000
                    resultat_net: 8141000000
                  collecte_le: '2026-07-29'
                source: Data from Brønnøysundregistrene — Regnskapsregisteret (data.brreg.no), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
                disclaimer: Le Regnskapsregisteret ouvert ne sert que le DERNIER exercice déposé
                score_defaillance:
                  statut: non_evaluable
                  pays: 'NO'
                  version: evaluabilite-v1
                  raisons:
                  - axes_hors_d_atteinte
                  - historique_a_la_demande
                  - bareme_non_calibre_pour_le_pays
                  postes_normalises:
                  - produits_exploitation
                  ratios_hors_d_atteinte:
                  - marge_ebe
                  flux_insolvabilite: stock
                  lecture: 'Aucun score pour cette entité : `raisons` dit, en liste fermée, ce qui manque au barème pour ce pays. Ni score bas, ni signal, ni absence de risque : aucune bande, aucun classement. / No score for this entity: `raisons` lists, closed, what the scorecard lacks for this country. Neither a low score, nor a signal, nor an absence of risk: no band, no ranking.'
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — or a per-year sub-path, which does not exist for NO. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No annual accounts in the open register for this organisation number — payment cancelled.
        '502':
          description: Upstream error — banks and insurers are not served by the open Norwegian accounts API; payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseNOByIdComptes
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/NO/{id}/evenements:
    get:
      summary: Norwegian legal events (Enhetsregisteret) — bankruptcy, winding-up, strike-off
      description: 'Norwegian company legal events from the official Enhetsregisteret (Brreg, NLOD 2.0) for insolvency and credit risk monitoring: bankruptcy (konkurs, with the registered date), voluntary or compulsory liquidation, and strike-off, plus current flags checked live. 9-digit organisasjonsnummer. A live-verified company with no flag gets an explicit positive answer. Coarser than France''s BODACC: no ruling text, no court; undated events carry an upper-bound date. Legal persons only, never individuals.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '926455249'
        description: 9-digit Norwegian organisasjonsnummer (no spaces)
      responses:
        '200':
          description: 'Legal events newest first (closed vocabulary: faillite, faillite_levee, dissolution, dissolution_levee, dissolution_forcee, dissolution_forcee_levee, radiation) with `origine_date` — `registre` when Brønnøysundregistrene publishes the date (bankruptcy, strike-off), `constatation` when it publishes none and Sirenic saw the flag switch, `premiere_observation` when the flag was already raised at first sight: then `date_au_plus_tard: true` and the date is only an UPPER BOUND (started on or before). Plus `etat_courant` (flags re-checked live, `lecture_directe` telling how), `journal.derniere_collecte` (journal freshness) and `aucun_evenement: true` as an explicit positive answer — asserted only on a live-verified record, with no raised flag, not struck off, and a current journal. NLOD 2.0 attribution in every response. 3-year window — the source''s own republication limit — except a still-open procedure, whose opening event is always served.'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '926455249'
                denomination: 123 HOLDING AS
                forme_juridique: AS
                etat_courant:
                  faillite: true
                  faillite_date: '2026-02-27'
                  radie_le: null
                  verifie_en_direct: true
                  lecture_directe: verifiee
                evenements:
                - type: faillite
                  libelle: Bankruptcy opened (konkurs)
                  date: '2026-02-27'
                  origine_date: registre
                  date_au_plus_tard: false
                nombre_evenements: 1
                aucun_evenement: false
                source: Data from Brønnøysundregistrene — Enhetsregisteret (data.brreg.no), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown organisation number; a natural-person legal form (ENK, PERS, TVAM) or an estate named after one (KBO, BO), never served; or any legal form not on the recognised legal-person whitelist — payment cancelled.
        '503':
          description: Norwegian legal-events baseline not collected yet (fail-closed), or register unreachable for an unknown company — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseNOByIdEvenements
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/NO/{id}/dirigeants:
    get:
      summary: Norwegian company officers and board (Enhetsregisteret roles) — management…
      description: 'Norwegian company officers and board from the official Enhetsregisteret (Brønnøysundregistrene, NLOD 2.0), refreshed daily from the national roles bulk: general manager, board chair, members and deputies, auditor and accountant with their own orgnr, fully liable partners, Norwegian representative; current mandates by default, past ones on request. Closed-list roles with the register''s code and wording. GDPR: name and role only, never the published birth date. Legal persons only. 9-digit orgnr.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '923609016'
        description: 9-digit Norwegian organisasjonsnummer (no spaces)
      - name: inclure_anciens
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
        description: Set to true to add deregistered (historical) mandates; by default only current mandates are listed, both counts are always served
      responses:
        '200':
          description: 'Registered roles, direction first then board, partners, holder, auditor, accountant: `organe` and `role` (closed lists) with the register''s code and wording, `titulaire` — a natural person (first name, last name, deceased flag; never a birth date) or an entity (orgnr, name, legal form, struck-off flag, licence status) — `en_cours`, `desinscrit`, `elu_par`, liability share. Both counts always exact; `aucun_mandat_inscrit: true` is an explicit positive answer for a known legal person absent from the day''s bulk.'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '923609016'
                denomination: EQUINOR ASA
                forme_juridique: ASA
                nombre_mandats_en_cours: 14
                nombre_anciens_mandats: 1
                inclure_anciens: false
                aucun_mandat_inscrit: false
                mandats:
                - organe: direction
                  organe_source: DAGL
                  organe_libelle: Daglig leder
                  organe_modifie_le: '2020-11-02'
                  role: directeur_general
                  role_source: DAGL
                  role_libelle: Daglig leder
                  rang: 0
                  titulaire:
                    type: personne
                    prenom: <prénom>
                    nom: <nom>
                    decede: false
                  en_cours: true
                  desinscrit: false
                  elu_par: null
                  elu_par_source: null
                  part_responsabilite: null
                - organe: reviseur
                  organe_source: REVI
                  organe_libelle: Revisor
                  organe_modifie_le: '2019-07-12'
                  role: reviseur
                  role_source: REVI
                  role_libelle: Revisor
                  rang: 0
                  titulaire:
                    type: entite
                    orgnr: '976389387'
                    nom: ERNST & YOUNG AS
                    forme_juridique: AS
                    radiee: false
                    agrement_source: Godkjent revisjonsforetak
                  en_cours: true
                  desinscrit: false
                  elu_par: null
                  elu_par_source: null
                  part_responsabilite: null
                source: Data from Brønnøysundregistrene — Enhetsregisteret, roller (data.brreg.no, bulk national quotidien roller/totalbestand), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
                data_freshness: bulk national quotidien de Brønnøysundregistrene pré-ingéré (régénéré chaque nuit vers 04:00-04:30 CEST, ingéré à 03:30 UTC)
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown organisation number, natural-person form (ENK, PERS, TVAM), estate (KBO, BO) or unrecognised legal form — payment cancelled.
        '503':
          description: Norwegian roles bulk not ingested yet or older than 7 days (fail-closed), or register unreachable for a company absent from the local copy — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseNOByIdDirigeants
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/NO/{id}/etablissements:
    get:
      summary: Norwegian company local units (Enhetsregisteret underenheter) — the SIRET-like…
      description: 'Norwegian company local units (underenheter, the equivalent of SIRET establishments) from the official Enhetsregisteret (Brønnøysundregistrene, NLOD 2.0), refreshed daily from the national bulk: each unit''s own 9-digit orgnr, name, industry code (NACE-NO) and auxiliary activity, published headcount, location and postal addresses, registration and ownership-change dates, VAT status, plus unit count and cumulative headcount. A known legal person with no unit gets an explicit positive answer.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '923609016'
        description: 9-digit Norwegian organisasjonsnummer of the company (no spaces)
      responses:
        '200':
          description: 'Registered local units, largest published headcount first: own orgnr, name, form (BEDR / AAFY), main, secondary and auxiliary activities (NACE-NO), `effectif` with `effectif_publie` (0 = published nil, null = unrecorded) and its date, location and postal addresses, registration, start and ownership-change dates, VAT flag — plus `nombre_unites_locales`, `effectif_cumule` and `aucune_unite_locale: true` as an explicit positive answer for a known legal person absent from the day''s bulk.'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '923609016'
                denomination: EQUINOR ASA
                forme_juridique: ASA
                nombre_unites_locales: 35
                effectif_cumule: 21267
                unites_effectif_publie: 21
                aucune_unite_locale: false
                unites_locales:
                - orgnr: '973152351'
                  denomination: EQUINOR ASA AVD KONTOR STAVANGER
                  forme_source: BEDR
                  forme_libelle: Underenhet til næringsdrivende og offentlig forvaltning
                  activite:
                    code: '06.100'
                    libelle: Utvinning av råolje
                  activites_secondaires: []
                  activite_auxiliaire:
                    code: '70.100'
                    libelle: Hovedkontortjenester
                  effectif: 4254
                  effectif_publie: true
                  effectif_le: '2026-09-12'
                  adresse:
                    adresse: Forusbeen 50
                    code_postal: '4035'
                    ville: STAVANGER
                    commune: STAVANGER
                    commune_code: '1103'
                    pays: 'NO'
                  adresse_postale:
                    adresse: Postboks 8500
                    code_postal: '4035'
                    ville: STAVANGER
                    pays: 'NO'
                  inscrite_le: '1995-03-12'
                  debut_activite: '1981-01-01'
                  changement_proprietaire_le: null
                  tva: false
                source: Data from Brønnøysundregistrene — Enhetsregisteret, underenheter (data.brreg.no, bulk national quotidien underenheter/lastned), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
                data_freshness: bulk national quotidien de Brønnøysundregistrene pré-ingéré (régénéré chaque nuit vers 04:00-04:30 CEST, ingéré à 03:30 UTC)
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: 'Unknown organisation number, natural-person form, estate or unrecognised legal form — payment cancelled. Another country on this path: 404 pays_non_couvert, free.'
        '503':
          description: Norwegian local-units bulk not ingested yet or older than 7 days (fail-closed), or register unreachable for a company absent from the local copy — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseNOByIdEtablissements
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/GB/{company_number}/marches-publics:
    get:
      summary: UK company public procurement (Find a Tender + Contracts Finder — contracts won…
      description: 'Public-procurement record of a UK company from Find a Tender (above-threshold notices since 2021) and Contracts Finder (below-threshold since 2023), Cabinet Office OCDS feeds under OGL v3: contracts WON matched by company number — buyer, subject, contract value in GBP, award and signature dates, period, status, official notice link — and notices ISSUED as a buyer, newest first, with totals. Only half of suppliers carry a company number: zero is a non-conclusive absence. Facts, never a score.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]{8}$
        example: '10868035'
        description: 8-character UK company number, leading zeros included
      responses:
        '200':
          description: '`attributions` (company as supplier, newest first, max 100 with `tronque_attributions`): `ocid`, `award_id`, `source` (fts | cf), `publie_le`, `titre`, `valeur` + `devise`, `date_attribution`, `date_signature`, `debut`, `fin`, `statut`, `acheteur` (id, company_number, nom), `fournisseur` (nom_publie, id), `lien` (official notice); `nombre_attributions`, `valeur_totale_gbp`, `aucune_attribution` (NON-conclusive). `avis_emis` (company as buyer): `etiquettes` (OCDS tags), `titre`, `categorie`, `methode`, `cpv`, `valeur_estimee`, `lien`; `nombre_avis_emis`. `aucun_marche: true` + `existence_verifiee` = bounded positive answer for a company confirmed at Companies House. `stock` per feed (depuis, dernier_jour_collecte). OGL v3 attribution; never a natural-person supplier.'
          content:
            application/json:
              example:
                pays: GB
                company_number: '10868035'
                attributions:
                - ocid: ocds-h6vhtk-0773eb
                  award_id: '1'
                  source: fts
                  publie_le: '2026-09-16'
                  titre: Facilitate Away Days and LGR Transition
                  valeur: 36606.36
                  devise: GBP
                  date_attribution: null
                  date_signature: '2026-07-27'
                  debut: '2026-07-27'
                  fin: '2028-04-01'
                  statut: active
                  acheteur:
                    id: GB-PPON-PGGG-5373-XYZX
                    company_number: null
                    nom: Dacorum Borough Council
                  fournisseur:
                    nom_publie: CHANGEMAKER ASSOCIATES LIMITED
                    id: GB-COH-10868035
                  lien: https://www.find-tender.service.gov.uk/Notice/087976-2026
                nombre_attributions: 1
                valeur_totale_gbp: 36606.36
                tronque_attributions: false
                aucune_attribution: false
                avis_emis: []
                nombre_avis_emis: 0
                tronque_avis_emis: false
                aucun_marche: false
                existence_verifiee: false
                stock:
                  fts:
                    depuis: '2021-01-01'
                    dernier_jour_collecte: '2026-09-16'
                  cf:
                    depuis: '2023-01-01'
                    dernier_jour_collecte: '2026-09-16'
        '400':
          description: Invalid company number — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: 'Company number unknown to Companies House — payment cancelled. Another country on this path: 404 pays_non_couvert, free.'
        '503':
          description: A feed not collected yet or older than 7 days (fail-closed), or Companies House unreachable when nothing is matched — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseGBByCompanyNumberMarchesPublics
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/GB/{company_number}/annonces:
    get:
      summary: UK insolvency notices (The Gazette, official journal) — winding-up…
      description: 'UK company insolvency notices from The Gazette, the official journal (London, Edinburgh, Belfast; OGL v3.0), collected daily from the corporate insolvency feed (category 24): winding-up resolutions and petitions, appointment of liquidators and administrators, winding-up orders, creditors'' notices, dividends — official notice code, closed-list type, date and link. What Companies House does not give. A known company with no notice gets an explicit bounded answer. No personal data.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: SC540982
        description: Companies House company number (8 characters incl. leading zeros, e.g. 00102498, SC540982, NI017460)
      responses:
        '200':
          description: 'Notices newest first: `type` (closed list from the official notice code), `regime` (code range), `code`, `libelle_source`, `date`, `denomination_publiee`, `lien`, `rattachement` (texte = number in the feed, page = notice page read later, linked_data = attached before 17/09/2026). `stock.depuis` (stock start), `stock.dernier_jour_collecte`, `stock.avis_en_attente_de_rattachement` (notices not yet attached: coverage is PARTIAL) and `aucune_annonce: true` as a bounded answer for a company confirmed at Companies House (`existence_verifiee`). OGL v3.0 attribution; no personal data.'
          content:
            application/json:
              example:
                pays: GB
                company_number: SC540982
                nombre_annonces: 1
                aucune_annonce: false
                annonces:
                - notice_id: '5212308'
                  type: nomination_liquidateur
                  regime: liquidation_volontaire_creanciers
                  code: 2443
                  libelle_source: Appointment of Liquidators
                  date: '2026-09-16'
                  denomination_publiee: PRIME PSYCHOLOGY LTD
                  lien: https://www.thegazette.co.uk/notice/5212308
                  rattachement: texte
                stock:
                  depuis: '2025-09-16'
                  dernier_jour_collecte: '2026-09-16'
                  avis_en_attente_de_rattachement: 0
                existence_verifiee: false
                source: The Gazette (London, Edinburgh and Belfast Gazettes, thegazette.co.uk) — corporate insolvency notices, category 24. Contains public sector information licensed under the Open Government Licence v3.0
                licence: Open Government Licence v3.0 (The Gazette / TSO under HMSO) — personal data excluded from re-use
                data_freshness: flux quotidien de The Gazette (catégorie 24) pré-ingéré (collecte à 06:00 UTC, relecture des deux derniers jours) ; rattachement différé des avis sans numéro dans le flux
        '400':
          description: Invalid company number — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: 'Company number unknown to Companies House — payment cancelled. Another country on this path: 404 pays_non_couvert, free.'
        '503':
          description: Gazette stock not collected yet or older than 7 days (fail-closed), or Companies House unreachable / not configured when no notice is attached — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseGBByCompanyNumberAnnonces
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/GB/{company_number}/dirigeants:
    get:
      summary: UK company officers (Companies House, live) — active directors and secretaries
      description: 'UK company officers live from Companies House, the official UK company registry, by company number (e.g. GB/00102498): active directors and secretaries with role, appointment date, nationality, occupation, country of residence and month+year of birth only — never a correspondence address (GDPR minimisation). Resigned-officer count included. Built for KYB and due diligence on director appointments and governance. Contains public sector information licensed under the Open Government Licence v3.0.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: 00102498
        description: Companies House company number (8 characters incl. leading zeros, e.g. 00102498, SC123456, NI017460)
      responses:
        '200':
          description: 'Active officers with role, appointment date, nationality, occupation, country of residence and month+year of birth only (GDPR minimisation: no correspondence address), plus active/resigned counts. OGL v3.0 attribution in `source`.'
          content:
            application/json:
              example:
                pays: GB
                company_number: '00000006'
                nombre_actifs: 0
                nombre_demissionnes: 49
                tronque: false
                dirigeants:
                - nom: <nom du dirigeant>
                  fonction: director
                  nomme_le: null
                  nationalite: null
                  profession: null
                  pays_de_residence: null
                  naissance: null
                source: Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).
                data_freshness: Companies House temps réel (cache 24 h)
        '400':
          description: Invalid company number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown company number — payment cancelled.
        '503':
          description: Companies House key not configured or upstream quota reached — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseGBByCompanyNumberDirigeants
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/GB/{company_number}/beneficiaires-effectifs:
    get:
      summary: UK beneficial owners (PSC register, Companies House, live)
      description: 'UK persons with significant control (PSC register) live from Companies House, for KYB and group-structure checks: LEGAL-ENTITY controllers only (corporate entities, legal persons) with natures of control (ownership/voting bands), notification dates and register identification, plus official PSC statements. Natural-person controllers are COUNTED, never named (GDPR, CJEU C-798/24, since 2026-09-19). Ceased PSCs excluded by default (inclure_cesses=true adds them).'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: 08130873
        description: Companies House company number
      - name: inclure_cesses
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
        description: Also return ceased PSCs (with their ceased_on date)
      responses:
        '200':
          description: LEGAL-ENTITY controllers only since 2026-09-19 (natures of control, notification dates, register identification), PSC statements, exemption flag for listed companies; natural-person controllers COUNTED in personnes_physiques_omises, never named (CJEU C-798/24). Ceased PSCs excluded unless inclure_cesses=true.
          content:
            application/json:
              example:
                pays: GB
                company_number: 00446915
                nombre_actifs: 1
                nombre_cesses: 0
                exemption_possible: false
                personnes_physiques_omises:
                  actifs: 0
                  cesses: 0
                autres_types_omis:
                  actifs: 0
                  cesses: 0
                beneficiaires:
                - type: entite
                  nom: Bp International Limited
                  notifie_le: '2016-04-06'
                  natures_de_controle:
                  - ownership-of-shares-75-to-100-percent
                  identification:
                    forme_juridique: Limited By Shares
                    registre: Companies House
                    numero_registre: '00542515'
                declarations: []
                source: Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).
                data_freshness: Companies House temps réel (cache 24 h)
        '400':
          description: Invalid company number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown company number — payment cancelled.
        '503':
          description: Companies House key not configured or upstream quota reached — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseGBByCompanyNumberBeneficiairesEffectifs
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/GB/{company_number}/insolvabilite:
    get:
      summary: UK company insolvency record (Companies House, live)
      description: 'UK company insolvency record for credit risk and compliance screening, live from Companies House by company number: liquidation (compulsory or voluntary), administration, receivership and other cases with their dates and insolvency practitioners (name and role only, no addresses). A company with NO recorded case returns an explicit positive answer (200, aucune_procedure) — the register is authoritative, an empty record is a fact. Open Government Licence v3.0 (Companies House).'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: NI017460
        description: Companies House company number
      responses:
        '200':
          description: 'Insolvency cases (type, dates, practitioners without addresses) — or an explicit positive `aucune_procedure: true` when the register records no case (the registrar is authoritative).'
          content:
            application/json:
              example:
                pays: GB
                company_number: NI017460
                aucune_procedure: false
                statuts:
                - liquidation
                cas:
                - type: compulsory-liquidation
                  numero: '1'
                  dates:
                  - type: wound-up-on
                    date: '2008-11-20'
                  praticiens:
                  - nom: <nom du praticien de l'insolvabilité>
                    role: practitioner
                    nomme_le: null
                    fin_de_mission_le: null
                  notes: []
                source: Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).
                data_freshness: Companies House temps réel (cache 24 h)
        '400':
          description: Invalid company number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown company number — payment cancelled.
        '503':
          description: Companies House key not configured or upstream quota reached — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseGBByCompanyNumberInsolvabilite
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/LV/{regnr}/comptes:
    get:
      summary: Latvian annual accounts (Uzņēmumu reģistrs / VID filings) — every filed fiscal…
      description: 'Latvian company annual accounts — official financial statements from VID filings via the Uzņēmumu reģistrs open data of Latvia (CC0, daily). Query: /v1/eu/entreprise/LV/40003032065/comptes (11-digit registration number). EVERY filed fiscal year in one call: balance sheet, profit and loss (revenue, net income), cash flow when filed, employees, as published (EUR, LVL before 2014; statutory and consolidated filings kept apart). Null = not published, never zero.'
      x-price: $0.03
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Every filed fiscal year, newest first: balance sheet, P&L, cash flow when filed, employees — as published (filing currency EUR or LVL, published rounding unit; statutory and consolidated filings kept apart via `perimetre`). CC0 attribution (Uzņēmumu reģistrs / VID, data.gov.lv) in every response.'
          content:
            application/json:
              example:
                pays: LV
                id_national: '40003032949'
                nombre_exercices: 2
                exercices:
                - date_cloture: '2025-12-31'
                  exercice: 2025
                  perimetre: statutaire
                  devise: EUR
                  arrondi: THOUSANDS
                  employes: 1389
                  bilan:
                    total_actif: 4189397
                  compte_resultat:
                    chiffre_affaires: 949824
                  flux_tresorerie:
                    flux_exploitation: 376739
                source: Uzņēmumu reģistrs / VID — open data data.gov.lv
                licence: Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0
                disclaimer: Postes clés des rapports annuels déposés au VID, tels que publiés par l'Uzņēmumu reģistrs (CC0)
        '400':
          description: Invalid registration number (11 digits) — or a per-year sub-path, which does not exist for LV. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No filed annual accounts for this registration number — payment cancelled.
        '503':
          description: Latvian accounts stock not yet ingested (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseLVByRegnrComptes
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/LV/{regnr}/insolvabilite:
    get:
      summary: Latvian company insolvency record (Uzņēmumu reģistrs, daily national photo)
      description: 'Latvian company insolvency record from the official Uzņēmumu reģistrs open data (CC0, daily photo since 2008), built for credit risk and compliance screening: insolvency and legal protection proceedings in Latvia with start/end dates, resolution, court and case number. A registered company with NO proceeding returns an explicit positive answer (200, aucune_procedure: true) — the register is authoritative. 11-digit registration number.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: regnr
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Insolvency and legal-protection proceedings (dates, resolution, court, case number; null end date = ongoing) — or an explicit positive `aucune_procedure: true` for a registered company with no proceeding (the register is authoritative).'
          content:
            application/json:
              example:
                pays: LV
                id_national: '40103144555'
                aucune_procedure: false
                procedures:
                - proceeding_id: 90134947
                  debiteur: SIA "NaviFleet"
                  debut: '2025-10-14'
                  fin: null
                  forme: LEGAL_PROTECTION
                  type: NATIONAL
                  resolution: null
                  numero_affaire: C771723525
                  tribunal: Rīgas pilsētas tiesa
                source: Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0
                data_freshness: photo quotidienne data.gov.lv pré-ingérée (MAJ amont ~20:25 UTC)
        '400':
          description: Invalid registration number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown registration number — payment cancelled.
        '503':
          description: Latvian insolvency stock not yet ingested (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseLVByRegnrInsolvabilite
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/LV/{regnr}/dirigeants:
    get:
      summary: Latvian company officers (Uzņēmumu reģistrs, refreshed daily)
      description: 'Latvian company officers and directors from the official Uzņēmumu reģistrs (Latvia''s company registry) open data (CC0, daily): board members, chairs, liquidators and other representatives with name, role, governing body, representation rights (individually/jointly) and registration date; corporate officers carry their own registration number. For KYB and governance. GDPR minimisation: never the Latvian personal identity number, birth month+year only when published. 11-digit registration number.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: regnr
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Board members, chairs, liquidators and other representatives: name, role, governing body, representation rights, registration date; corporate officers carry their own registration number. Never the Latvian personal identity number; birth month+year only when published.'
          content:
            application/json:
              example:
                pays: LV
                id_national: '40203109838'
                nombre_dirigeants: 1
                dirigeants:
                - type: entite
                  nom: SIA "ENESAN"
                  fonction: MEMBER
                  organe: null
                  naissance: null
                  regnr_entite: '40103761688'
                  representation: INDIVIDUALLY
                  representation_minimum: 0
                  inscrit_le: '2019-04-29'
                source: Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0
                licence: Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0
        '400':
          description: Invalid registration number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown registration number — payment cancelled.
        '503':
          description: Latvian officers stock not yet ingested (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseLVByRegnrDirigeants
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/LV/{regnr}/evenements:
    get:
      summary: Latvian company legal events (Uzņēmumu reģistrs — liquidations…
      description: 'Latvian company legal events from the official Uzņēmumu reģistrs open data (CC0, daily photo): liquidations and activity terminations (incl. by court or tax authority), mergers, acquisitions, divisions and transformations with the other company''s number, VID activity suspensions, securing measures (prohibitions, liens, attachments) with the registering institution. Closed-list types plus source code and wording. A registered company with no event gets aucun_evenement: true. 11-digit number.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: regnr
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Register events, newest first: famille (liquidation, reorganisation, suspension, surete), closed-list type plus source code and wording, date, the register''s own wording (fondement), the other company and role for a reorganisation, case number and registering institution for a securing measure — or an explicit `aucun_evenement: true` for a registered company with no event.'
          content:
            application/json:
              example:
                pays: LV
                id_national: '50203219311'
                nombre_evenements: 2
                aucun_evenement: false
                evenements:
                - famille: liquidation
                  type: cessation_activite
                  type_source: ACTIVITY_TERMINATED
                  libelle_source: Darbības izbeigšana
                  date: '2026-08-31'
                  fondement: Latvijas Republikas Uzņēmumu reģistra valsts notāra 03.07.2026. lēmums Nr.6-12/53992
                  role: objet
                  societe_liee: null
                  numero_affaire: null
                  institution: null
                  inscrit_le: '2026-08-31T11:37:11Z'
                - famille: surete
                  type: interdiction
                  type_source: PROHIBITION
                  libelle_source: Aizliegums
                  date: '2025-07-28'
                  fondement: Piemērots aizliegums reorganizācijai un dalībnieku maiņai
                  role: objet
                  societe_liee: null
                  numero_affaire: 32.1/17.22.1/25774
                  institution:
                    type: administration_fiscale
                    nom: Valsts ieņēmumu dienests
                    regnr: '90000069281'
                  inscrit_le: null
                licence: Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0
        '400':
          description: Invalid registration number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown registration number — payment cancelled.
        '503':
          description: Latvian events stock not yet ingested (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseLVByRegnrEvenements
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/HR/{oib}:
    get:
      summary: Croatian company profile (Sudski registar — court register, daily snapshot)
      description: 'Official Croatian company registry lookup (Sudski registar — the court register of companies, daily snapshot of the open API). Query: /v1/eu/entreprise/HR/92803032010 (11-digit OIB; an 8- or 9-digit MBS is accepted). Returns identity (name, short name, legal form, seat, VAT id HR+OIB, founding date), status with the running procedure (bankruptcy, liquidation, pre-bankruptcy, estates), court, capital, main activity (NKD), published e-mails, plus the LEI group and EU funding blocks.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: oib
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{8,11}$
        example: '92803032010'
        description: 11-digit OIB; an 8- or 9-digit MBS is accepted and resolved to the OIB
      responses:
        '200':
          description: Unified profile (identity, legal form, status with running procedure, seat, VAT id, founding date, LEI) plus the `registre_hr` block (MBS, court, procedure, estates, capital, main activity, published e-mails, detailed seat, snapshot date), `groupe_lei` and `financements_ue`.
          content:
            application/json:
              example:
                pays: HR
                registre: Sudski registar (Ministarstvo pravosuđa, uprave i digitalne transformacije)
                id_national: '92803032010'
                denomination: KOESTLIN dioničko društvo,tvornica keksa i vafla
                forme_juridique:
                  code: '4'
                  libelle: dioničko društvo — d.d.
                statut: actif
                statut_detail: null
                date_creation: '1992-12-31'
                adresse_siege:
                  adresse: Slavonska cesta 2a
                  code_postal: null
                  ville: Bjelovar
                  pays: HR
                identifiants:
                  tva: HR92803032010
                  lei: null
                registre_hr:
                  mbs: '10000162'
                  tribunal: Trgovački sud u Bjelovaru
                  denomination_abregee: KOESTLIN d.d.
                  procedure:
                    code: aucune
                    libelle: aucune procédure / no procedure
                    en_cours: false
                  masse_faillite: false
                  succursale_societe_etrangere: false
                  capital:
                    montant: 12775884
                    devise: euro
                  emails_publies:
                  - koes.info@koestlin.hr
                  photo: '2026-09-17'
                source: Sudski registar — Portal otvorenih podataka (sudreg-data.gov.hr), API « javni », photo quotidienne
        '400':
          description: Invalid identifier (neither an 11-digit OIB nor an 8-9-digit MBS) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown OIB/MBS among the active subjects published by the register — payment cancelled.
        '503':
          description: Daily snapshot not yet loaded or older than 7 days (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseHRByOib
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/HR/{oib}/insolvabilite:
    get:
      summary: Croatian company insolvency (Sudski registar — procedure and court decisions)
      description: 'Croatian company insolvency status from the Sudski registar (daily snapshot): running procedure (bankruptcy / stečaj, liquidation, pre-bankruptcy stages, bankruptcy or liquidation estate) and the published court decisions with their extracted facts — court, case reference, date — never the decision text. aucune_procedure is a measured fact on the complete snapshot. Attribution to the Ministry of Justice required.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: oib
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{8,11}$
        example: '39620744214'
        description: 11-digit OIB; an 8- or 9-digit MBS is accepted and resolved to the OIB
      responses:
        '200':
          description: '`procedure` (code, label, en_cours), estates flags, `aucune_procedure` (measured), `decisions[]` (type, court, reference, date; `texte_retenu: true`), snapshot date.'
          content:
            application/json:
              example:
                pays: HR
                id_national: '39620744214'
                mbs: '60254690'
                denomination: TIM-PUTEVI, društvo s ograničenom odgovornošću za građenje u stečaju
                procedure:
                  code: faillite
                  libelle: faillite (stečaj) / bankruptcy (stečaj)
                  en_cours: true
                masse_faillite: false
                masse_liquidation: false
                aucune_procedure: false
                nombre_decisions: 1
                decisions:
                - rang: 3
                  type_id: 83
                  type: 'Odluke suda: obustava i zaključenje stečajnog postupka'
                  tribunal: Trgovački sud u Splitu
                  reference: St-372/2025
                  date: '2026-08-21'
                  texte_retenu: true
                photo: '2026-09-17'
                licence: Sudski registar (Ministarstvo pravosuđa, uprave i digitalne transformacije RH), Otvorena dozvola — attribution obligatoire
        '400':
          description: Invalid identifier (neither an 11-digit OIB nor an 8-9-digit MBS) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown OIB/MBS among the active subjects published by the register — payment cancelled.
        '503':
          description: Daily snapshot not yet loaded or older than 7 days (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseHRByOibInsolvabilite
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/HR/{oib}/evenements:
    get:
      summary: Croatian company court-register entries (Sudski registar — statutory entries…
      description: 'Croatian company court-register entries (Sudski registar, daily snapshot): every typed statutory entry (108 types: founding act, statute, legal form, capital changes, mergers and divisions, enterprise contracts, dissolution grounds, court decisions), in register order. Published text served only for a closed list of entry types without natural persons (texte_retenu otherwise); court decisions served by court, reference and date.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: oib
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{8,11}$
        example: '92963223473'
        description: 11-digit OIB; an 8- or 9-digit MBS is accepted and resolved to the OIB
      responses:
        '200':
          description: '`inscriptions[]` in register order: type_id, type, categorie (acte | decision_judiciaire | autre), texte (closed list of types only), texte_retenu, decision facts; counts textes_servis / textes_retenus; snapshot date.'
          content:
            application/json:
              example:
                pays: HR
                id_national: '92963223473'
                mbs: '80000014'
                denomination: ZAGREBAČKA BANKA DIONIČKO DRUŠTVO
                nombre_inscriptions: 12
                textes_servis: 2
                textes_retenus: 10
                inscriptions:
                - rang: 1
                  type_id: 3
                  type: Statut
                  categorie: autre
                  texte: null
                  texte_retenu: true
                  decision: null
                - rang: 10
                  type_id: 33
                  type: Razlozi za prestanak
                  categorie: acte
                  texte: Odlukom Uprave banke od 31. listopada 2000.g., s danom 31. prosinca 2000.g. prestaje s radom podružnica broj 019, ZAGREBAČKA BANKA d.d. Fili
                  texte_retenu: false
                  decision: null
                photo: '2026-09-17'
        '400':
          description: Invalid identifier (neither an 11-digit OIB nor an 8-9-digit MBS) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown OIB/MBS among the active subjects published by the register — payment cancelled.
        '503':
          description: Daily snapshot not yet loaded or older than 7 days (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseHRByOibEvenements
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/HR/{oib}/comptes:
    get:
      summary: Croatian company annual-accounts filings (Sudski registar — filing metadata per…
      description: 'Croatian company annual-accounts filings from the Sudski registar (daily snapshot): every filing recorded per financial year — filing type (GFI-POD report, statement of inactivity, statement of correction), consolidated or not, period covered, filing date — newest first. Metadata only, never the document; aucun_depot is a measured fact. Attribution to the Ministry of Justice required.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: oib
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{8,11}$
        example: '92803032010'
        description: 11-digit OIB; an 8- or 9-digit MBS is accepted and resolved to the OIB
      responses:
        '200':
          description: '`depots[]` newest first: annee, type (GFI-POD, inactivity statement, correction), consolide, exercice_du / exercice_au, depose_le; `aucun_depot` (measured), `dernier_exercice`, snapshot date.'
          content:
            application/json:
              example:
                pays: HR
                id_national: '92803032010'
                mbs: '10000162'
                denomination: KOESTLIN dioničko društvo,tvornica keksa i vafla
                nombre_depots: 18
                aucun_depot: false
                dernier_exercice: 2025
                depots:
                - annee: 2025
                  type_code: 0
                  type: GFI-POD izvještaj
                  consolide: false
                  exercice_du: '2025-01-01'
                  exercice_au: '2025-12-31'
                  depose_le: '2026-06-25'
                photo: '2026-09-17'
        '400':
          description: Invalid identifier (neither an 11-digit OIB nor an 8-9-digit MBS) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown OIB/MBS among the active subjects published by the register — payment cancelled.
        '503':
          description: Daily snapshot not yet loaded or older than 7 days (fail-closed) — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseHRByOibComptes
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/CH/{id}/evenements:
    get:
      summary: Swiss company commercial-register publications (SOGC/SHAB — structured, live…
      description: 'Swiss commercial-register publications from the Official Gazette of Commerce (SOGC/SHAB, SECO public API, live, since July 2018): every registration, change and deletion carrying the UID — date, number, canton, office, the company as published (name, UID, seat, legal form, purpose, capital, address without c/o) and closed-list change flags (name, seat, address, purpose, capital, form, bankruptcy, liquidation…); free text withheld (persons). Query: /v1/eu/entreprise/CH/CHE-102.732.681/evenements.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^CHE-?\d{3}\.?\d{3}\.?\d{3}$
        example: CHE-102.732.681
        description: Swiss UID, CHE-xxx.xxx.xxx
      responses:
        '200':
          description: '`publications[]` newest first: date, numero, type (inscription | mutation | radiation) + sous_rubrique and official labels, langue, cantons, office, journal, `societe` and `societe_avant` (name, UID, seat, legal form, purpose, capital, address without c/o), `changements[]` (closed list), radiation_le, publication_precedente, texte_retenu; `nombre_publications`, `nombre_listees`, `troncature`, `premiere_publication_le`, `derniere_publication_le`, `aucune_publication`, `consulte_le`.'
          content:
            application/json:
              example:
                pays: CH
                id_national: CHE-102.732.681
                denomination: A.S. Consulta AG
                nombre_publications: 7
                nombre_listees: 7
                troncature: false
                premiere_publication_le: '2021-05-27'
                derniere_publication_le: '2026-09-18'
                aucune_publication: false
                publications:
                - date: '2026-09-18'
                  numero: HR02-1006759561
                  type: mutation
                  sous_rubrique: HR02
                  langue: de
                  cantons:
                  - ZH
                  office: Handelsregisteramt des Kantons Zürich
                  societe:
                    nom: A.S. Consulta AG
                    uid: CHE-102.732.681
                    siege: Zürich
                    forme:
                      code: '0106'
                      libelle: société anonyme
                    adresse:
                      rue: Apfelbaumstrasse
                      numero: '41'
                      npa: '8050'
                      localite: Zürich
                    capital:
                      nominal: 100000
                      libere: 100000
                    renonciation_revision: false
                  changements:
                  - autres_inscriptions
                  publication_precedente:
                    date: '2025-12-05'
                    numero: '1006503744'
                  texte_retenu: true
                consulte_le: '2026-09-18T05:30:00.000Z'
        '400':
          description: Invalid UID (not CHE-xxx.xxx.xxx) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: UID unknown to Zefix — payment cancelled.
        '503':
          description: SOGC or Zefix unreachable — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseCHByIdEvenements
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/CH/{id}/insolvabilite:
    get:
      summary: Swiss company bankruptcy publications (SOGC/SHAB — debtor company only, live…
      description: 'Swiss bankruptcy publications from the SOGC/SHAB (SECO public API, live, since 2021) whose debtor is the company (never a natural person): preliminary notice, bankruptcy publication and call to creditors, suspension, schedule of claims, distribution list, closing, revocation, foreign-bankruptcy recognition — decision date, deadlines, office, canton, official labels in four languages; aucune_procedure is bounded by the online archive. Query: /v1/eu/entreprise/CH/CHE-138.657.350/insolvabilite.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^CHE-?\d{3}\.?\d{3}\.?\d{3}$
        example: CHE-138.657.350
        description: Swiss UID, CHE-xxx.xxx.xxx
      responses:
        '200':
          description: '`procedures[]` newest first: date, numero, type (closed list of the 12 KK sub-rubrics) + official labels in DE/FR/IT/EN, langue, cantons, office, debiteur (name, UID, seat), date_decision, delai_production, cessation_le, fin_procedure_le, procedure; `aucune_procedure`, `nombre_procedures`, `troncature`, `derniere_publication_le`, `consulte_le`.'
          content:
            application/json:
              example:
                pays: CH
                id_national: CHE-138.657.350
                denomination: Skytender Group Holding AG
                nombre_procedures: 1
                troncature: false
                aucune_procedure: false
                derniere_publication_le: '2026-09-17'
                procedures:
                - date: '2026-09-17'
                  numero: KK01-1006758893
                  type: avis_prealable_faillite
                  sous_rubrique: KK01
                  libelle:
                    de: Vorläufige Konkursanzeige
                    fr: Avis préalable d'ouverture de faillite
                    it: Avviso preliminare di apertura del fallimento
                    en: Preliminary bankruptcy notice
                  langue: de
                  cantons:
                  - ZG
                  office: Konkursamt des Kantons Zug
                  debiteur:
                    nom: Skytender Group Holding AG
                    uid: CHE-138.657.350
                    siege: Baar
                  date_decision: '2026-09-10'
                  texte_retenu: true
                consulte_le: '2026-09-18T05:30:00.000Z'
        '400':
          description: Invalid UID (not CHE-xxx.xxx.xxx) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: UID unknown to Zefix — payment cancelled.
        '503':
          description: SOGC or Zefix unreachable — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseCHByIdInsolvabilite
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/FI/{id}/evenements:
    get:
      summary: Finnish company trade-register notices (PRH open data — codes and dates since…
      description: 'Finnish trade-register notices from the PRH open data (CC BY 4.0, live, 24 h cache): every notice since late 2014 — date, type (formation, change, annual accounts, rectification, merger) and its entry codes (board, representation, capital, shares, office, auditors, articles, bankruptcy, restructuring, liquidation, removal, merger…) with PRH labels in EN/FI/SV and a closed family; register memberships (trade, VAT, prepayment, employer). Query: /v1/eu/entreprise/FI/0112038-9/evenements.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{7}-\d$
        example: 0112038-9
        description: Finnish Business ID (Y-tunnus), NNNNNNN-N
      responses:
        '200':
          description: '`evenements[]` newest first (date, reference, type + type_source, inscriptions[] with code, EN/FI/SV labels and closed family), `nombre_evenements`, `premier_avis_le`, `dernier_avis_le`, `procedures_inscrites[]`, `aucun_avis`, `registres[]` (trade register, taxpayer, prepayment, VAT, employer: status, authority, dates), `tva_active`, `consulte_le`.'
          content:
            application/json:
              example:
                pays: FI
                id_national: 0112038-9
                denomination: Nokia Oyj
                nombre_evenements: 162
                premier_avis_le: '2014-11-28'
                dernier_avis_le: '2026-06-08'
                aucun_avis: false
                evenements:
                - date: '2026-06-08'
                  reference: 2026/300040
                  type: modification
                  type_source: M
                  inscriptions:
                  - code: NIMP
                    libelle:
                      en: PROCURATION RIGHTS
                      fi: PROKURAT
                      sv: PROKURA
                    famille: representation
                - date: '2026-06-05'
                  reference: 2026/46611V
                  type: comptes_annuels
                  type_source: TA
                  inscriptions:
                  - code: TASE
                    libelle:
                      en: FINANCIAL STATEMENTS
                      fi: TILINPÄÄTÖS
                      sv: BOKSLUT
                    famille: comptes
                procedures_inscrites: []
                registres:
                - registre: registre_commerce
                  registre_code: '1'
                  statut:
                    en: Registered
                  autorite: PRH (Patentti- ja rekisterihallitus)
                  inscrit_le: '1896-12-19'
                  radie_le: null
                - registre: tva
                  registre_code: '6'
                  statut:
                    en: VAT-liable for business activity
                  autorite: Verohallinto (administration fiscale)
                  inscrit_le: '1994-06-01'
                  radie_le: null
                tva_active: true
                consulte_le: '2026-09-18T02:05:17.000Z'
        '400':
          description: Invalid Business ID (not NNNNNNN-N) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Business ID unknown to the PRH open data (sole proprietorships are not published) — payment cancelled.
        '503':
          description: PRH open data unreachable — payment cancelled.
      tags:
      - Eu
      operationId: getV1EuEntrepriseFIByIdEvenements
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
  /v1/eu/entreprise/LT/{kodas}:
    get:
      summary: Lithuanian company profile (Juridinių asmenų registras — daily snapshot of…
      description: 'Official Lithuanian company registry lookup (Juridinių asmenų registras, daily snapshot of data.gov.lt, CC BY 4.0). Query: /v1/eu/entreprise/LT/304500803 (9-digit JAR code). Identity as published (sole proprietorships anonymised by the register, flagged), legal form, one of 31 register statuses with date, registration and removal dates, VAT, municipality, plus registre_lt (capital, taxpayer type, VAT dates, filing compliance, shareholder headcounts) and fiscalite_lt (tax arrears, taxes paid).'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: kodas
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '304500803'
        description: 9-digit Lithuanian JAR code
      responses:
        '200':
          description: Unified profile (name as published by the register, legal form, normalised status with the register status detail, registration date, municipality-only seat, VAT number, LEI) plus `registre_lt` (form and status with labels, anonymised-name flag, capital, taxpayer type and VAT dates, accounts-filing compliance, shareholder headcounts by category, snapshot date), `fiscalite_lt` (today's tax arrears or their measured absence, taxes paid per month and per year), `groupe_lei`, `financements_ue`.
          content:
            application/json:
              example:
                pays: LT
                registre: Juridinių asmenų registras (Registrų centras)
                id_national: '304500803'
                denomination: UAB "Autotitanas"
                forme_juridique:
                  code: '310'
                  libelle: Uždaroji akcinė bendrovė
                statut: actif
                statut_detail: null
                date_creation: '2017-04-11'
                adresse_siege:
                  adresse: null
                  code_postal: null
                  ville: Vilniaus miesto savivaldybė
                  pays: LT
                identifiants:
                  tva: null
                  lei: null
                registre_lt:
                  statut: servi
                  photo: '2026-09-17'
[...]
