openapi: 3.2.0
info:
  title: Sirenic Reperer API
  version: 1.0.0
  description: 'French & European company data, pay-per-call in USDC or EURC — EURC at numeric parity: the same figure as the USDC price, not FX-converted (at the ECB rate of 4 Sept 2026, about 16 % more in dollar terms) via the x402 protocol — or with an API key and prepaid credits (1 credit = 1 EUR, same per-call prices, no wallet).'
  contact:
    email: contact@sirenic.eu
  license:
    name: 'Data: Licence Ouverte / Open License Etalab 2.0'
    url: https://www.etalab.gouv.fr/licence-ouverte-open-licence/
servers:
- url: https://api.sirenic.eu
security:
- {}
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Reperer
paths:
  /v1/reperer:
    get:
      summary: FREE — detect company identifiers (SIREN/SIRET/VAT/LEI) in raw text, with…
      security: []
      parameters:
      - name: texte
        in: query
        required: true
        schema:
          type: string
          maxLength: 10000
        description: Raw text to scan (email, invoice, contract...)
      responses:
        '200':
          description: Detected identifiers with formal validity (Luhn / mod 97-10) and, for each, the recommended Sirenic call with its price. Deterministic; the text is never stored or logged.
        '400':
          description: Missing or oversized texte parameter.
      tags:
      - Reperer
      operationId: getV1Reperer
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 'Sirenic API key (srn_live_…) paying with prepaid credits (1 credit = 1 EUR, same prices as x402). Credits expire 12 months after purchase; calls are charged first to the credits closest to expiry. Optional: without it, the same routes answer 402 with a signable x402 quote. Insufficient balance → 402 {error: credits_insuffisants} WITHOUT a PAYMENT-REQUIRED header. Get a key at /compte.'
    BearerAuth:
      type: http
      scheme: bearer
      description: 'The same srn_live_… API key sent as Authorization: Bearer. A bearer value that is not an srn_ key is ignored (x402 flow unchanged).'
