openapi: 3.2.0
info:
  title: Sirenic Eu Provenance API
  version: 1.0.0
  contact:
    email: contact@sirenic.eu
  license:
    name: 'Data: Licence Ouverte / Open License Etalab 2.0'
    url: https://www.etalab.gouv.fr/licence-ouverte-open-licence/
  description: 'Operations tagged Provenance across 2 of this provider''s published API definitions: sirenic-eu-openapi.json, sirenic-eu-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sirenic.eu
security:
- {}
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Provenance
paths:
  /v1/provenance/registres:
    get:
      summary: 'FREE — provenance dictionary: what each `provenance[].source_code` of a paid…'
      security: []
      responses:
        '200':
          description: 'Join table for the `provenance` block carried by paid responses: for each stable source_code, the official register name, the publishing authority, the country, the access mode (stock / temps_reel / calcul), the licence code and the register URL. Also documents the closed vocabularies of `mode` and `precision_as_of`. Source metadata only — no company or personal data.'
      tags:
      - Provenance
      operationId: getV1ProvenanceRegistres
      x-operation-id-source: derived
    servers:
    - url: https://api.sirenic.eu
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 'Sirenic API key (srn_live_…) paying with prepaid credits (1 credit = 1 EUR, same prices as x402). Credits expire 12 months after purchase; calls are charged first to the credits closest to expiry. Optional: without it, the same routes answer 402 with a signable x402 quote. Insufficient balance → 402 {error: credits_insuffisants} WITHOUT a PAYMENT-REQUIRED header. Get a key at /compte.'
    BearerAuth:
      type: http
      scheme: bearer
      description: 'The same srn_live_… API key sent as Authorization: Bearer. A bearer value that is not an srn_ key is ignored (x402 flow unchanged).'
x-refined-from:
- sirenic-eu-openapi.json
- sirenic-eu-openapi.yml
