openapi: 3.2.0
info:
  title: Sirenic Dirigeant API
  version: 1.0.0
  description: 'French & European company data, pay-per-call in USDC or EURC — EURC at numeric parity: the same figure as the USDC price, not FX-converted (at the ECB rate of 4 Sept 2026, about 16 % more in dollar terms) via the x402 protocol — or with an API key and prepaid credits (1 credit = 1 EUR, same per-call prices, no wallet).'
  contact:
    email: contact@sirenic.eu
  license:
    name: 'Data: Licence Ouverte / Open License Etalab 2.0'
    url: https://www.etalab.gouv.fr/licence-ouverte-open-licence/
servers:
- url: https://api.sirenic.eu
security:
- {}
- ApiKeyAuth: []
- BearerAuth: []
tags:
- name: Dirigeant
paths:
  /v1/dirigeant/recherche:
    get:
      summary: Reverse director search by surname
      description: 'Reverse search for company directors and officers in France: a people search by surname (?nom=) that lists the French companies where a person of that name holds or held an office, with each company SIREN, name and the person role — network mapping and due diligence on directors. Person data is limited to surname, first names, role and birth YEAR (French GDPR/INPI rules). Results are indicative: homonyms are not disambiguated and very common names are capped.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: nom
        in: query
        required: true
        schema:
          type: string
        example: Arnault
        description: Director surname — unsupported characters are stripped rather than rejected; 400 only when nothing searchable is left (1 to 100 characters once cleaned up).
      responses:
        '200':
          description: 'Companies where a person of that surname holds an office: company SIREN, name, status, and the masked mandate(s) (surname, first names, role, birth YEAR only). Includes a homonym warning and a truncation flag for common names.'
          content:
            application/json:
              example:
                nombre_resultats: 1
                tronque: false
                resultats:
                - siren: '314685454'
                  denomination: AGACHE
                  etat_administratif: actif
                  statut_diffusion: totale
                  correspondance_locale: true
                  mandats:
                  - type: personne_physique
                    nom: ARNAULT
                    prenoms: BERNARD
                    fonction: Autre
                    annee_de_naissance: '1949'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
      tags:
      - Dirigeant
      operationId: getV1DirigeantRecherche
      x-operation-id-source: derived
components:
  responses:
    Reponse402PaymentRequired:
      description: Payment required — x402 payment requirements in body (JSON) and headers.
    Reponse400InvalidInput:
      description: 'Invalid input. Body: {error, champ, message}. Never charged. / Jamais facturé.'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 'Sirenic API key (srn_live_…) paying with prepaid credits (1 credit = 1 EUR, same prices as x402). Credits expire 12 months after purchase; calls are charged first to the credits closest to expiry. Optional: without it, the same routes answer 402 with a signable x402 quote. Insufficient balance → 402 {error: credits_insuffisants} WITHOUT a PAYMENT-REQUIRED header. Get a key at /compte.'
    BearerAuth:
      type: http
      scheme: bearer
      description: 'The same srn_live_… API key sent as Authorization: Bearer. A bearer value that is not an srn_ key is ignored (x402 flow unchanged).'
