openapi: 3.1.0
info:
  title: Sirenic API
  version: 1.0.0
  description: 'French & European company data, pay-per-call in USDC or EURC — EURC at numeric parity: the same figure as the USDC price, not FX-converted (at the ECB rate of 4 Sept 2026, about 16 % more in dollar terms) via the x402 protocol — or with an API key and prepaid credits (1 credit = 1 EUR, same per-call prices, no wallet). France in depth plus European search & profiles (BE, CH, UK, NO, EE, LV, CZ, SK, FI, PL), Spanish BORME registry acts (ES, by hoja), Belgian, Finnish and Norwegian annual accounts, and large groups worldwide via LEI/GLEIF. Source: INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr (Etalab 2.0). Payment: x402, network eip155:8453, assets USDC 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913 or EURC 0x60a3E35Cc302bFA44Cb288Bc5a4F316Fdb1adb42 (same numeric amount in either). API key: send X-Api-Key: srn_live_… (or Authorization: Bearer srn_live_…) on any /v1 call; the response carries X-Credits-Charged and X-Credits-Remaining. Create an account and keys at
    /compte. A signed x402 payment always takes precedence over a key. Toute réponse non-2xx (400, 402, 404, 5xx) n''est jamais facturée : le paiement x402 est annulé avant règlement — le transfert n''a pas lieu, il n''y a donc rien à rembourser. / Any non-2xx response is never charged: the x402 payment is cancelled before settlement — the transfer never happens, so there is nothing to refund.'
  contact:
    email: contact@sirenic.eu
  license:
    name: 'Data: Licence Ouverte / Open License Etalab 2.0'
    url: https://www.etalab.gouv.fr/licence-ouverte-open-licence/
servers:
- url: https://api.sirenic.eu
components:
  parameters:
    siren:
      in: path
      name: siren
      required: true
      schema:
        type: string
        pattern: ^\d{9}$
      example: '552032534'
      description: 9-digit SIREN (Luhn-validated)
  responses:
    Reponse400InvalidInput:
      description: 'Invalid input. Body: {error, champ, message}. Never charged. / Jamais facturé.'
    Reponse402PaymentRequired:
      description: Payment required — x402 payment requirements in body (JSON) and headers.
    Reponse503LocalRegister:
      description: 'Local register not yet collected (`collecte_en_cours`), or its snapshot older than that country''s freshness threshold (`photo_perimee` — Sweden: 21 days, matching the guard on Swedish events). A stale snapshot cannot assert a company''s current status. Payment not settled; retrying does not help.'
    Reponse200UnifiedJson:
      description: 'Same unified JSON schema as /v1/eu/entreprise/{pays}/{id} (see its response example): identity, legal form, normalized status, creation date, head office, VAT, LEI, official register link, data freshness.'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: 'Sirenic API key (srn_live_…) paying with prepaid credits (1 credit = 1 EUR, same prices as x402). Credits expire 12 months after purchase; calls are charged first to the credits closest to expiry. Optional: without it, the same routes answer 402 with a signable x402 quote. Insufficient balance → 402 {error: credits_insuffisants} WITHOUT a PAYMENT-REQUIRED header. Get a key at /compte.'
    BearerAuth:
      type: http
      scheme: bearer
      description: 'The same srn_live_… API key sent as Authorization: Bearer. A bearer value that is not an srn_ key is ignored (x402 flow unchanged).'
security:
- {}
- ApiKeyAuth: []
- BearerAuth: []
paths:
  /v1/recherche:
    get:
      summary: Search French companies by name or SIREN (top 10)
      description: 'French company search and company lookup by name or SIREN in the official French company registry (INSEE Sirene / INPI RNE open data). Name search returns the top 10 matches with identity, SIREN, NAF code, city and active/ceased status, plus a score_confiance (0-1 match confidence) that helps disambiguate homonyms. The entry point to official data and company data on France: resolve a trading name to its SIREN identifier before pulling the full company profile, filings or financials.'
      x-price: $0.002
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        example: danone
        description: 'Company name, or a French identifier (SIREN, SIRET, VAT) — spaced or labelled ("SIREN : 552 032 534") resolves directly. Unsupported characters are stripped, not rejected; 400 only if nothing searchable is left (1-100 chars once cleaned).'
      responses:
        '200':
          description: 'Top 10 matches with identity, SIREN, NAF, city, status and score_confiance (0-1 match confidence). When no result actually resembles the query (best confidence < 0.5), the body carries aucune_correspondance_fiable: true and a bilingual note_correspondance — the registry''s closest guesses are still listed, but they are not the company you asked for. Served from the local Sirene index; if an index stage is abandoned (time budget exceeded or query error), the call falls back to the real-time registry API (data_freshness says so). Only when that fallback fails too is a partial answer served — flagged by resultats_partiels: true and the abandoned stage named in etages_abandonnes (always present; empty array = complete top 10). A degraded answer is never sold as complete.'
          content:
            application/json:
              example:
                total_results: 10
                resultats:
                - siren: '552032534'
                  denomination: DANONE
                  statut_diffusion: totale
                  etat_administratif: actif
                  activite_principale: 70.10Z
                  commune_siege: PARIS
                  code_postal_siege: '75009'
                  score_confiance: 1
                source: INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr, licence ouverte Etalab 2.0
                disclaimer: Données issues de l'open data, fournies en l'état sans garantie. / Open data, provided as is without warranty.
                etages_abandonnes: []
                data_freshness: stock Sirene mensuel (2026-08-01), dirigeants temps réel
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          description: 'The local index was degraded (a stage abandoned under its time budget or on a query error) and returned nothing, AND the real-time registry is unavailable (error: recherche_indisponible) — or the local stock is absent and the registry is down (error: amont_indisponible). Nothing is charged, retry in a few seconds.'
  /v1/entreprise/{siren}:
    get:
      summary: Full company profile by SIREN
      description: 'Full French company profile by SIREN: official company data from the French company registry (INSEE Sirene / INPI RNE). One lookup returns legal name, legal form, head office, NAF code, workforce bracket, creation date, active or ceased status, officers with name and role, collective agreement, the intra-EU VAT number and, for LEI holders, the GLEIF level-2 group (groupe_lei: consolidating parents or declared reason for none). The core KYB building block for verifying a French counterparty.'
      x-price: $0.005
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      - name: geo
        in: query
        required: false
        schema:
          type: boolean
        description: true = include GPS coordinates (WGS84) of establishments
      responses:
        '200':
          description: 'Full profile: legal name, legal form, head office, NAF, workforce, officers, collective agreements (conventions_collectives, plus conventions_collectives_notes reading out technical IDCC codes such as 9999 = no agreement assigned), VAT number, plus groupe_lei (GLEIF level-2: direct and ultimate consolidating parents with lei, denomination, pays and the declared relationship, or absence_mere with the declared reason; declaration = relation | exception | aucune; sans_objet without a LEI; indisponible marker when the daily golden copy is missing or stale — never a 503 for this block).'
          content:
            application/json:
              example:
                siren: '552032534'
                denomination: DANONE
                nature_juridique: '5599'
                activite_principale: 70.10Z
                categorie_entreprise: GE
                tranche_effectif_salarie: '42'
                date_creation: '1955-01-01'
                etat_administratif: actif
                siege:
                  siret: '55203253400703'
                  adresse: 59 RUE LA FAYETTE 75009 PARIS
                  code_postal: '75009'
                  commune: PARIS
                dirigeants:
                - type: personne_morale
                  siren: '344366315'
                  denomination: ERNST & YOUNG AUDIT
                  fonction: Commissaire aux comptes titulaire
                tva_intracommunautaire: FR27552032534
                nombre_etablissements: 19
                index_egapro:
                - annee: 2025
                  note: 86
                source: INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr, licence ouverte Etalab 2.0 ; index Egapro (ministère du Travail) et annuaire RGE (ADEME), licence ouverte Etalab 2.0
                data_freshness: stock Sirene mensuel (2026-07-01), dirigeants temps réel
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
  /v1/entreprise/{siren}/etablissements:
    get:
      summary: List establishments (SIRET) of a company
      description: 'All establishments (SIRET) of a French company: the complete list of business locations registered under one SIREN, official data from the French company registry (INSEE Sirene), head office and branches alike, each with its address and open or closed status. Use it to map the branches and addresses of a company across France, or to check whether a given SIRET is still open. The SIREN identifies the legal entity; the SIRET identifies each of its establishments.'
      x-price: $0.003
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: Establishments with addresses and open/closed status.
          content:
            application/json:
              example:
                siren: '552032534'
                denomination: DANONE
                nombre_etablissements: 19
                etablissements:
                - siret: '55203253400703'
                  est_siege: true
                  adresse: 59 RUE LA FAYETTE 75009 PARIS
                  code_postal: '75009'
                  commune: PARIS
                  etat_administratif: actif
                  activite_principale: 70.10Z
                  date_creation: '2025-08-19'
                  date_fermeture: null
                  enseignes: []
                  tranche_effectif_salarie: NN
                source: INSEE Sirene / INPI RNE via recherche-entreprises.api.gouv.fr, licence ouverte Etalab 2.0
                disclaimer: Données issues de l'open data, fournies en l'état sans garantie. / Open data, provided as is without warranty.
                data_freshness: stock Sirene mensuel (2026-07-01), dirigeants temps réel
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
  /v1/entreprise/{siren}/alertes:
    get:
      summary: Legal alerts from BODACC (insolvency, deregistration, business sales)
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: 'Announcements grouped by family (procedures collectives, radiations, ventes/cessions), most recent first, with judgment details. Each announcement carries `role`: `sujet` (this company is the debtor), `partie_citee` or `indetermine`. Since 2026-09-04, insolvency notices of ANOTHER company that merely cite this one as a party (creditor bank, counterparty) are served apart in `mentions_comme_partie` with the real debtor''s name (`sujet_annonce`), and count towards NO verdict — a creditor listed in a debtor''s conciliation judgment used to be scored as if it were in proceedings itself. `denomination` is the Sirene legal name (`denomination_source`), never the trade label of the latest notice.'
          content:
            application/json:
              example:
                siren: '552032534'
                denomination: DANONE
                procedures_collectives: []
                radiations: []
                ventes_cessions: []
                autres_annonces:
                  Modifications diverses: 63
                  Dépôts des comptes: 37
                total_annonces: 106
                consulte_le: '2026-07-29T07:28:49.560Z'
                source: BODACC (DILA) via bodacc-datadila.opendatasoft.com, licence ouverte Etalab 2.0
                disclaimer: Annonces officielles telles que publiées ; les avis rectificatifs et annulations sont restitués avec leur type, sans fusion. / Official announcements as published; rectifications and cancellations carry their type.
                data_freshness: BODACC temps réel (API DILA), cache 24 h
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
  /v1/entreprise/{siren}/contentieux:
    get:
      summary: Commercial-court decisions linked to the company (Judilibre open data)
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: 'Commercial-court decisions linked to the SIREN, most recent first (100 max, `tronque` beyond): court and code, date, docket number, closed-list `nature` and `role`, the other legal entities involved (SIREN + Sirene name), `redondante_bodacc` for insolvency judgments already served by /alertes, and the official Judilibre URL. Plus counts, the measured coverage (61.8% of decisions carry a usable identifier) and the source update date. Never a text, a natural person''s name or an amount.'
          content:
            application/json:
              example:
                siren: '552032534'
                denomination: DANONE
                exhaustivite: partielle
                avertissement: Une absence de résultat ne vaut pas absence de contentieux.
                synthese:
                  nombre_decisions: 1
                  par_nature:
                    condamnation_ou_injonction_a_payer: 1
                decisions:
                - id_judilibre: 69f4703ccdc6046d4731b4af
                  date: '2026-04-30'
                  juridiction: Tribunal de commerce d'Orléans
                  nature: condamnation_ou_injonction_a_payer
                  role: demandeur
                  mode_rattachement: identifiant_etiquete
                  confiance: certain
                  url_officielle: https://www.courdecassation.fr/decision/69f4703ccdc6046d4731b4af
                tronque: false
                source: 'Cour de cassation — base Judilibre (open data, source juritcom), Licence Ouverte 2.0 ; dernière mise à jour de notre stock : 2026-09-10.'
                consulte_le: '2026-09-10T11:44:00Z'
                disclaimer: Liens décision ↔ société par identifiant RCS/SIREN ; couverture partielle mesurée ; aucune donnée de personne physique. / Partial measured coverage; no natural-person data.
                data_freshness: 'stock Judilibre tcom collecté quotidiennement (dernier passage réussi : 2026-09-10) ; identité Sirene'
        '400':
          description: 'Sole proprietorship (`entreprise_individuelle_non_couverte`) or restricted diffusion (`diffusion_partielle_non_couverte`): decisions are never linked to a natural person. Nothing is charged. Never charged. / Jamais facturé.'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          description: Judilibre stock not built yet (`collecte_en_cours`) or older than 7 days (`photo_perimee`). Nothing is charged.
  /v1/entreprise/{siren}/accords-collectifs:
    get:
      summary: Company-level collective agreements published on Légifrance (ACCO fund)
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: 'Agreements, amendments and decisions published on Légifrance for the company, most recent first (100 max, `tronque` beyond): nature, title (masked when it names a person), DILA themes, signature / effect / end dates, IDCC, signatory unions, official link; `synthese` (counts, per nature and theme, texts signed in the last 24 months, IDCC coherence with Sirene) and `couverture` (SIRETs searched, texts consulted). Metadata only, never the text.'
          content:
            application/json:
              example:
                siren: '335146965'
                synthese:
                  nombre_textes: 5
                  dernier_texte: '2025-12-30'
                  coherence_idcc: identique
                textes:
                - id: ACCOTEXT000053386910
                  nature: avenant
                  titre: AVENANT N°4 RENOUVELLEMENT ACCORD TELETRAVAIL
                  themes:
                  - Télétravail
                  date_signature: '2025-12-30'
                  url_legifrance: https://www.legifrance.gouv.fr/acco/id/ACCOTEXT000053386910
        '400':
          description: 'Sole proprietorship (`entreprise_individuelle_non_couverte`) or restricted diffusion (`diffusion_partielle_non_couverte`): agreements are never linked to a natural person. Never charged. Never charged. / Jamais facturé.'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          description: Légifrance API unavailable or not configured (`legifrance_non_configure`). Nothing is charged.
  /v1/entreprise/{siren}/finances:
    get:
      summary: Annual financial data from filed accounts (INPI / Banque de France ratios)
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: 'Revenue, EBITDA, EBIT, net income and financial ratios per fiscal year (filed accounts; a confidential income statement is flagged, its balance sheet kept). Carries `decalage_analytique`: latest filing known at the register (INPI, live) vs latest year analysed, with a closed-list reason.'
          content:
            application/json:
              example:
                siren: '552032534'
                nombre_exercices: 8
                exercices:
                - date_cloture: '2017-12-31'
                  chiffre_affaires: 609000000
                  ebe: 609000000
                  resultat_net: 176000000
                  ratios:
                    taux_endettement: 4.982
                    autonomie_financiere: 40.738
                    marge_ebe: 100
                  qualite:
                    fiabilite: a_verifier
                    anomalies:
                    - ebe_non_calculable
                    champs_douteux:
                    - couverture_interets
                    - ebe
                    - marge_brute
                    - marge_ebe
                    champs_non_renseignes: []
                perimetre_comptable:
                  perimetre: social
                  double_depot_confirme: true
                controles_coherence:
                - code: ebe_non_calculable
                  portee: bloquante
                  exercices:
                  - '2017-12-31'
                comptes_consolides:
                  perimetre: consolide
                  nombre_exercices: 8
                  exercices:
                  - date_cloture: '2024-12-31'
                    chiffre_affaires: 27376000000
                    resultat_net: null
                    qualite:
                      fiabilite: exploitable
                      anomalies:
                      - resultat_net_non_calcule
                      - ratio_non_calcule
                      champs_douteux: []
                      champs_non_renseignes:
                      - ratio_liquidite
                      - resultat_net
                source: Ratios financiers INPI / Banque de France (comptes annuels déposés) via data.economie.gouv.fr, licence ouverte 2.0
                data_freshness: jeu ratios_inpi_bce du 2026-06-01
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
  /v1/entreprise/{siren}/marches-publics:
    get:
      summary: Public procurement contracts won (official DECP data)
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - $ref: '#/components/parameters/siren'
      responses:
        '200':
          description: Aggregates (count and total amount as TWO bounds — raw per published row, and deduplicated per (buyer, date, amount, CPV) key —, contracts still running, next expiry) plus the 100 most recent contracts with buyer identity resolved, estimated end dates and a per-row publication status (unique, multi-platform, repeated, per-establishment, amendment) with linked rows.
          content:
            application/json:
              example:
                siren: '130031487'
                nombre_marches: 26
                montant_total: 4943495.5
                nombre_accords_cadres: 18
                montant_plafonds_accords_cadres: 4162376
                montant_hors_accords_cadres: 781119.5
                nombre_montants_enveloppe: 20
                nombre_modalites_connues: 26
                montant_enveloppes: 4234476
                montant_prix_fermes: 709019.5
                nombre_sous_traitance_connue: 26
                nombre_sous_traitance_declaree: 16
                nombre_sous_traitants: 2
                montant_sous_traite: 20910.24
                premier_marche: '2023-06-07'
                dernier_marche: '2026-06-01'
                marches_en_cours: 18
                prochaine_echeance: '2026-12-17'
                marches:
                - id: '20262026100'
                  objet: ACTIONS DE FORMATION POUR LA SOUS SPECIALITE E1D ESPACES VERTS LOT 7 POUR LE COMPTE DE LA DELEGATION PAYS DE LA LOIRE DU CNFPT
                  montant: 100000
                  montant_modifie: null
                  lot_numero: 7
                  co_traitance: false
                  nombre_titulaires: 1
                  groupement: null
                  date_notification: '2026-06-01'
                  duree_mois: 24
                  duree_mois_modifiee: null
                  date_fin_estimee: '2028-06-01'
                  regime: '2022'
                  accord_cadre: true
                  montant_est_enveloppe: true
                  modalites_execution: Bons de commande
                  ccag: Fournitures courantes et services
                  types_prix: Définitif révisable
                  marche_innovant: false
                  avance:
                    attribuee: false
                    taux: 0
                  origine:
                    ue: 0
                    france: 0
                  plateforme_source: DGFIP – PES MARCHÉ
                  avenant: null
                  sous_traitance:
                    declaree: false
                    acte_id: null
                    montant: null
                    part_du_montant: null
                    duree_mois: null
                    date_notification: null
                    variation_prix: null
                    sous_traitant: null
                  offres_recues: 1
                  acheteur:
                    siret: '18001404502245'
                    nom: CENTRE NATIONAL DE LA FONCTION PUBLIQUE TERRITORIALE
                  nature: Marché
                  procedure: Procédure adaptée
                  code_cpv: 80530000-8
                  lieu_execution: '49000'
                liste_tronquee: false
                source: Données essentielles de la commande publique (DECP consolidées) via data.economie.gouv.fr, licence ouverte 2.0
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
  /v1/marches/expirations:
    get:
      summary: 'Tender anticipation: French public contracts expiring within a window'
      x-price: $0.05
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: cpv
        in: query
        required: false
        schema:
          type: string
          pattern: ^\d{2,8}$
        example: '45'
        description: CPV prefix (45 = construction works)
      - name: departement
        in: query
        required: false
        schema:
          type: string
          pattern: ^(?:0[1-9]|1\d|2[1-9]|[3-8]\d|9[0-5]|2[AB]|97[1-8]|98[4-8])$
        example: '69'
        description: French department code (01-95, 2A, 2B, 971-978, 984-988)
      - name: fenetre_mois
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 24
        example: 12
        description: Window in months (default 12)
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
        example: 1
        description: 50 contracts per page
      responses:
        '200':
          description: 'Contracts whose ESTIMATED end date (notification + initially declared duration; duration amendments are absent from the DECP source) falls inside the window, sorted by end date: buyer (SIRET + resolved name), incumbent holders, amount (after amendment when published), framework-agreement flag, CPV, department. Buyers typically re-tender 4-9 months before expiry. An empty list is scoped honestly: contracts under EUR 40k excl. VAT are unpublished.'
          content:
            application/json:
              example:
                filtres:
                  cpv: '45'
                  departement: null
                  fenetre_mois: 6
                total_marches: 34249
                page: 1
                pages: 685
                marches:
                - id: '2777529'
                  objet: Travaux de menuiserie pour l'accueil de la DRFIP 44
                  acheteur:
                    siret: '13001292500017'
                    nom: DIRECTION REGIONALE FINANCES PUBLIQUES PAYS DE LA LOIRE ET DEPARTEMENT LOIRE ATLANTIQUE
                  montant: 9788.8
                  accord_cadre: false
                  montant_est_enveloppe: true
                  modalites_execution: Marchés subséquents
                  sous_traitance_declaree: false
                  lot_numero: null
                  date_notification: '2025-09-02'
                  duree_mois: 12
                  date_fin_estimee: '2026-09-02'
                  code_cpv: 45421100-5
                  departement: null
                  titulaires_sortants:
                  - siren: '501383251'
                    nom: SOGEA ATLANTIQUE BTP
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          description: 'Anticipation stock not loaded yet (code `collecte_en_cours`): the extended DECP re-ingestion has not completed. Nothing is charged; retrying immediately will not help.'
  /v1/acheteur/{siret}/profil:
    get:
      summary: Procurement profile of a French public buyer
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: siret
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{14}$
        example: '26310012500016'
        description: 14-digit SIRET of the buyer (Luhn-checked)
      responses:
        '200':
          description: Contract counts and amounts, activity by year (5y), top CPV segments, incumbent suppliers with contracts expiring within 18 months, framework-agreement share, average bids received per tender and median data-publication delay.
          content:
            application/json:
              example:
                acheteur:
                  siret: '26310012500016'
                  siren: '263100125'
                  nom: CENTRE HOSPITALIER UNIVERSITAIRE DE TOULOUSE
                nombre_marches: 5723
                montant_total: 11823128968.9
                montant_moyen: 2065897
                marches_en_cours: 4830
                echeances_12_mois: 1167
                prochaine_echeance: '2026-09-05'
                habitudes:
                  part_accords_cadres_pct: 78.4
                  offres_recues_moyenne: 3.5
                  delai_publication_median_jours: 11
                  part_montants_enveloppe_pct: 79.8
                  modalites_connues: 5723
                  part_sous_traitance_declaree_pct: 77.6
                  sous_traitance_connue: 5723
                  part_avances_pct: 57.4
                  avance_connue: 5723
                  ccag_dominant: Fournitures courantes et services
                  types_prix_dominant: Définitif révisable
                  plateforme_publication_dominante: DGFIP – PES MARCHÉ
                top_cpv:
                - cpv4: '3300'
                  nombre: 3002
                titulaires_principaux:
                - siren: '433944485'
                  nom: ARROW GENERIQUES
                  nombre_marches: 164
                  marches_expirant_18_mois: 67
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          description: Anticipation stock not loaded yet (code `collecte_en_cours`). Nothing is charged.
  /v1/entreprise/{siren}/concurrents-marches:
    get:
      summary: Rival contractors on the same CPV segments (public procurement)
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: siren
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '130031487'
      responses:
        '200':
          description: The company's top-5 CPV segments (last 5 years) and the top-15 rival contractors on those segments over the last 3 years, with contract counts, total amounts and shared segments.
          content:
            application/json:
              example:
                siren: '130031487'
                segments_cpv:
                - cpv4: '7999'
                  nombre: 7
                - cpv4: '8053'
                  nombre: 4
                periode_comparaison_annees: 3
                concurrents:
                - siren: '444523526'
                  nom: ARTELIA
                  nombre_marches: 262
                  montant_total: 116410066.59
                  segments_communs:
                  - '7124'
                  - '7931'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          description: Anticipation stock not loaded yet (code `collecte_en_cours`). Nothing is charged.
  /v1/eu/recherche:
    get:
      summary: Search European companies across official registers (unified schema)
      x-price: $0.003
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
        example: equinor
        description: Company name — 2 to 100 characters once unsupported characters are stripped.
      - name: pays
        in: query
        required: false
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: 'NO'
        description: Optional ISO-3166 alpha-2 country filter
      responses:
        '200':
          description: 'Top 10 matches with country, national ID, name, normalized status, city, source register (local registers + worldwide GLEIF) and score_confiance (0-1 match confidence). Registers are queried in PARALLEL, each under a time budget: any register that stays silent is REPORTED in registres_muets (empty array = every queried register answered) — a silent miss is never served as an empty result. If every register is silent, the call is a 503 and nothing is charged.'
          content:
            application/json:
              example:
                nombre_resultats: 10
                registres_muets: []
                resultats:
                - pays: 'NO'
                  id_national: '923609016'
                  denomination: EQUINOR ASA
                  statut: actif
                  ville: STAVANGER
                  registre: Enhetsregisteret (Brønnøysundregistrene)
                  correspondance: registre_local
                  score_confiance: 1
                pays_couverts:
                - pays: 'NO'
                  registre: Enhetsregisteret (Brønnøysundregistrene)
                  mode: base locale
                  entites: 1168483
                source: 'Registres officiels : Brønnøysundregistrene (NO, NLOD), e-Business Register (EE, CC-BY 4.0), Uzņēmumu reģistrs (LV), KBO/BCE (BE), CVR (DK), Companies House (GB, OGL), ARES (CZ), Register právnických osôb (SK, CC-BY 4.0), PRH/YTJ (FI, CC-BY 4.0), Krajowy Rejestr Sądowy (PL), Zefix (CH, OGD), Bolagsverket (SE), GLEIF (CC0)'
                disclaimer: Données rediffusées telles que publiées par les registres officiels, dans un schéma unifié ; `statut` est une normalisation en 3 valeurs, le libellé source est conservé dans `statut_detail`. / Official register data as published, unified schema; `statut` is a 3-value normalization.
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/{pays}/{id}:
    get:
      summary: Unified European company profile
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: pays
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z]{2}$
        example: 'NO'
        description: ISO-3166 alpha-2 country code (NO, EE, LV, BE, CH, CZ, SK, FI, PL; DK/GB when enabled)
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '923609016'
        description: National register identifier
      responses:
        '200':
          description: 'Same JSON schema for every country: identity, legal form, normalized status (+ source label), creation date, head office, VAT, LEI, official register link, data freshness. Belgian profiles also carry NACEBEL activities (French labels) and the establishment-unit list. Every profile carries groupe_lei (GLEIF level-2: direct and ultimate consolidating parents with lei, denomination, pays and the declared relationship, or absence_mere with the declared reason; declaration = relation | exception | aucune; sans_objet without a LEI; indisponible marker when the daily golden copy is missing or stale — never a 503 for this block), and financements_ue (CORDIS: Horizon 2020 / Horizon Europe projects matched by the published VAT number for BE, DK, FI, SE, CZ, CH, NO and LV profiles — totals, five most recent projects, partial coverage; sans_objet elsewhere). Plus score_defaillance (statut non_evaluable + closed-list reasons: no default-risk score outside France — see GET /v1/lecture).'
          content:
            application/json:
              example:
                pays: GB
                registre: Companies House
                id_national: '00000006'
                lei: null
                denomination: MARINE AND GENERAL MUTUAL LIFE ASSURANCE SOCIETY
                forme_juridique:
                  code: private-unlimited-nsc
                  libelle: null
                statut: cesse
                statut_detail: dissolved
                date_creation: '1862-10-25'
                adresse_siege:
                  adresse: Cms Cameron Mckenna Llp Cannon Place
                  code_postal: EC4N 6AF
                  ville: London
                  pays: GB
                activite:
                  nomenclature: SIC-2007
                  code: '65110'
                  libelle: null
                identifiants:
                  tva: null
                  lei: null
                lien_registre: https://find-and-update.company-information.service.gov.uk/company/00000006
                data_freshness: Companies House temps réel (cache 24 h)
                source: 'Registres officiels : Brønnøysundregistrene (NO, NLOD), e-Business Register (EE, CC-BY 4.0), Uzņēmumu reģistrs (LV), KBO/BCE (BE), CVR (DK), Companies House (GB, OGL), ARES (CZ), Register právnických osôb (SK, CC-BY 4.0), PRH/YTJ (FI, CC-BY 4.0), Krajowy Rejestr Sądowy (PL), Zefix (CH, OGD), Bolagsverket (SE), GLEIF (CC0)'
                disclaimer: Données rediffusées telles que publiées par les registres officiels, dans un schéma unifié ; `statut` est une normalisation en 3 valeurs, le libellé source est conservé dans `statut_detail`. / Official register data as published, unified schema; `statut` is a 3-value normalization.
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/BE/{id}:
    get:
      summary: BE company profile from its national register
      description: 'Official Belgian company registry lookup (KBO/BCE, Banque-Carrefour des Entreprises / Kruispuntbank van Ondernemingen). Query: /v1/eu/entreprise/BE/0403199702 (10-digit enterprise number, with or without dots). Returns legal name, legal form, normalized status, incorporation date, registered office, NACEBEL activities with French labels, the establishment-unit list, VAT number and LEI, plus a link to the official register entry — Belgian company data from KBO/BCE open data, refreshed daily.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '0403170701'
        description: National register identifier for BE.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/CH/{id}:
    get:
      summary: CH company profile from its national register
      description: 'Official Swiss company registry lookup (Zefix — Central Business Name Index / Registre central du commerce), covering companies registered in Switzerland. Query: /v1/eu/entreprise/CH/CHE-107.480.920 (CHE UID number, with or without dots). Returns legal name, legal form, normalized status, registered office and the cantonal register link — Swiss company data live from Zefix. Same unified JSON schema as every Sirenic European company profile.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: CHE-107.480.920
        description: National register identifier for CH.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/NO/{id}:
    get:
      summary: NO company profile from its national register
      description: 'Official Norwegian company registry lookup (Brønnøysundregistrene / Enhetsregisteret — BRREG open data). Query: /v1/eu/entreprise/NO/923609016 (9-digit organisasjonsnummer). Returns legal name, legal form, normalized status, incorporation date, registered office, VAT/MVA and LEI — Norwegian company data from Norway''s official register, the Enhetsregisteret (NLOD open data). Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '923609016'
        description: National register identifier for NO.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/CZ/{id}:
    get:
      summary: CZ company profile from its national register
      description: 'Official Czech company registry lookup (ARES — register of economic subjects, Ministry of Finance of Czechia). Query: /v1/eu/entreprise/CZ/45274649 (8-digit IČO / ICO identifier). Returns legal name, legal form, normalized status, incorporation date, registered office and the DIČ (DIC) VAT number — Czech company data live from ARES, the official register of companies in Czechia. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '45274649'
        description: National register identifier for CZ.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/SK/{id}:
    get:
      summary: SK company profile from its national register
      description: 'Official Slovak company registry lookup (RPO — Register právnických osôb, the register of legal entities of Slovakia, Statistical Office SR, CC-BY). Query: /v1/eu/entreprise/SK/35763469 (8-digit IČO / ICO identifier). Returns legal name, legal form, normalized status, incorporation date and registered office — Slovak company data live from the official RPO register of Slovakia. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '35763469'
        description: National register identifier for SK.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/FI/{id}:
    get:
      summary: FI company profile from its national register
      description: 'Official Finnish company registry lookup (PRH / YTJ — Finnish Patent and Registration Office Business Information System, CC-BY). Query: /v1/eu/entreprise/FI/0112038-9 (Business ID / Y-tunnus). Returns legal name, legal form, normalized status, registered office and the FI VAT number — Finnish company data live from the PRH open data API, covering companies registered in Finland. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: 0112038-9
        description: National register identifier for FI.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/PL/{id}:
    get:
      summary: PL company profile from its national register
      description: 'Official Polish company registry lookup (KRS — Krajowy Rejestr Sądowy, the National Court Register of Poland, Ministry of Justice). Query: /v1/eu/entreprise/PL/0000006865 (10-digit KRS number). Returns legal name, legal form, normalized status, incorporation date and registered office — Polish company data live from KRS (officers anonymized at the source). Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: 0000006865
        description: National register identifier for PL.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/EE/{id}:
    get:
      summary: EE company profile from its national register
      description: 'Official Estonian company registry lookup (e-Business Register / Äriregister of Estonia). Query: /v1/eu/entreprise/EE/12417834 (8-digit registrikood). Returns legal name, legal form, normalized status, incorporation date and registered office — Estonian company data from Estonia''s official e-Business Register. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '12417834'
        description: National register identifier for EE.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/LV/{id}:
    get:
      summary: LV company profile from its national register
      description: 'Official Latvian company registry lookup (Uzņēmumu reģistrs / Uznemumu registrs — the Register of Enterprises of Latvia). Query: /v1/eu/entreprise/LV/40003245752 (11-digit registration number). Returns legal name, legal form, normalized status, incorporation date and registered office — Latvian company data from Latvia''s official register. Unified JSON schema shared by all Sirenic European company profiles.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '40003245752'
        description: National register identifier for LV.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/CY/{id}:
    get:
      summary: Cypriot company profile (Registrar of Companies DRCOR — monthly snapshot of data.gov.cy)
      description: 'Official Cypriot company registry lookup (Registrar of Companies, DRCOR — monthly open-data snapshot on data.gov.cy, CC BY 4.0). Query: /v1/eu/entreprise/CY/HE165 (number with its HE or AE prefix; business names, partnerships and BN are not legal persons and are not served). Current name, type and sub-type, one of 12 dated register statuses (registered, struck off, liquidation, receivership…), registration date, registered office, plus registre_cy (status family, mandates count).'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^(HE|AE)\d{1,7}$
        example: HE165
        description: 'Registration number with its prefix: HE (company) or AE (overseas company); Greek homograph letters and a space are accepted and canonicalised'
      responses:
        '200':
          description: Unified profile (current name, type and sub-type as legal form, normalised status with the register status detail, registration date, registered office, LEI) plus `registre_cy` (type, sub-type, status with closed-list family and date, procedure_au_registre, registered office parts, mandates count, nom_courant_seul), `groupe_lei`, `financements_ue`, `provenance`.
          content:
            application/json:
              example:
                pays: CY
                registre: Department of the Registrar of Companies and Intellectual Property (DRCOR, Τμήμα Εφόρου Εταιρειών)
                id_national: HE165
                denomination: BANK OF CYPRUS PUBLIC COMPANY LIMITED
                forme_juridique:
                  code: HE
                  libelle: Εταιρεία — Δημόσια
                statut: actif
                statut_detail: null
                date_creation: '1943-12-31'
                adresse_siege:
                  adresse: Στασίνου, 51
                  code_postal: '2002'
                  ville: Στρόβολος
                  pays: CY
                identifiants:
                  tva: null
                  lei: null
                registre_cy:
                  statut: servi
                  photo: '2026-09-08'
                  type:
                    code: HE
                    prefixe: ΗΕ
                    libelle_el: Εταιρεία
                    fr: société
                  numero_registre: 165
                  sous_type:
                    libelle_el: Δημόσια
                    code: publique
                  etat:
                    libelle_el: Εγγεγραμμένη
                    famille: aucun
                    fr: inscrite
                    depuis: null
                  procedure_au_registre: false
                  inscrit_le: '1943-12-31'
                  siege:
                    ligne: Στασίνου, 51
                    territoire: Αγία Παρασκευή, Στρόβολος, 2002, Λευκωσία, Κύπρος
                    code_postal: '2002'
                    ville: Στρόβολος
                    pays_libelle: Κύπρος
                  mandats_publies: 12
                  nom_courant_seul: true
        '400':
          description: 'Invalid number (not HE/AE + digits), or a business name / partnership / BN (type_non_servi: not legal persons) — payment not taken. Never charged. / Jamais facturé.'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown number in the monthly snapshot (registered and struck-off companies are both published) — payment cancelled.
        '503':
          description: Monthly snapshot not yet loaded or older than 45 days (fail-closed) — payment cancelled.
  /v1/eu/entreprise/SE/{id}:
    get:
      summary: SE company profile from its national register
      description: 'Official Swedish company registry lookup (Bolagsverket — Swedish Companies Registration Office). Query: /v1/eu/entreprise/SE/5560012402 (10-digit organisationsnummer). Returns legal name, legal form, normalized status, registration date and registered office — Swedish company data for Sweden, from Bolagsverket''s official weekly national file, free of charge under the EU high-value datasets regulation. Part of Sirenic''s Nordics coverage, unified JSON schema.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9.-]{1,20}$
        example: '5560012402'
        description: National register identifier for SE.
      x-exemple-partage: /v1/eu/entreprise/{pays}/{id}
      responses:
        '200':
          $ref: '#/components/responses/Reponse200UnifiedJson'
        '400':
          $ref: '#/components/responses/Reponse400InvalidInput'
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No diffusible company for this SIREN.
        '503':
          $ref: '#/components/responses/Reponse503LocalRegister'
  /v1/eu/entreprise/ES/{hoja}/actes:
    get:
      summary: Spanish company acts from the BORME gazette (Registro Mercantil, section A), by hoja registral
      description: 'Spanish company acts from the official BORME gazette (Registro Mercantil, section A) by hoja registral — the register key, e.g. VI-23141: incorporations, officer appointments and dismissals (role + name), capital changes, mergers, dissolutions, insolvency. Daily filings flow since 2009, newest first (100 max + total count). Spanish personal IDs (DNI/NIE) and natural-person sole-shareholder names are redacted at ingestion. Basado en datos de la Agencia Estatal Boletin Oficial del Estado (boe.es).'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: hoja
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9][A-Za-z0-9 .-]{1,24}$
        example: VI-23141
        description: Hoja registral (register-sheet key, e.g. VI-23141) — get it from /v1/eu/recherche?pays=ES. The BORME does not publish the NIF; the hoja is the native key.
      responses:
        '200':
          description: 'Company acts, newest first (100 max + total count): date, province, open-vocabulary types, full act body. GDPR redactions (DNI/NIE, natural-person sole shareholders) are marked « […] » as required by the BOE licence. Officer names (role + name) are served as published.'
          content:
            application/json:
              example:
                pays: ES
                hoja: VI-14412
                denomination: OSG IBERICA TOOLING, SOCIEDAD LIMITADA
                nif: null
                rattachement_nif: non disponible — le BORME (sección A) ne publie pas le NIF
                nombre_actes: 1
                actes_tronques: false
                actes:
                - fecha: '2026-07-23'
                  numero: 344928
                  provincia: ARABA/ÁLAVA
                  id_document: BORME-A-2026-140-01
                  types:
                  - fusion por absorcion
                  corps: 'Fusión por absorción. Sociedades absorbidas: OSG NST IBERICA SOCIEDAD LIMITADA.  Datos registrales. S 8 , H VI 14412, I/A 32 (15.07.26).'
                source: BORME sección A (actos inscritos) — Basado en datos de la Agencia Estatal Boletín Oficial del Estado (https://www.boe.es)
        '400':
          description: Invalid hoja format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown hoja (no act since 2009) or non-ES country — payment cancelled.
  /v1/eu/entreprise/NO/{id}/comptes:
    get:
      summary: Norwegian annual accounts (Regnskapsregisteret) — latest year live + every year accumulated since 2026-07
      description: 'Norwegian company annual accounts and financial statements from Norway''s official Regnskapsregisteret (Brønnøysundregistrene, Brreg, NLOD 2.0). Query: /v1/eu/entreprise/NO/923609016/comptes (9-digit organisasjonsnummer). Latest filed fiscal year live from the register plus earlier years collected since 2026-07 — financials: balance sheet (assets, equity, debts), P&L (operating income and result, net result) in the filing currency (can be USD). Banks and insurers are not served by the source.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '923609016'
        description: 9-digit Norwegian organisasjonsnummer (no spaces)
      responses:
        '200':
          description: 'All fiscal years accumulated for this company, newest first: balance sheet (total assets, fixed/current assets, equity, debts short/long term), P&L (operating income and result, pre-tax and net result), filing currency (can be USD — never converted), small-company regime and liquidation flags, plus per-year collection date. The register only serves the latest year: earlier years appear once Sirenic has seen them (accumulated since 2026-07).'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '923609016'
                nombre_exercices: 1
                exercices:
                - date_cloture: '2024-12-31'
                  debut_exercice: '2024-01-01'
                  devise: USD
                  oppstillingsplan: store
                  petite_entreprise: false
                  bilan:
                    total_actif: 109150000000
                    capitaux_propres: 41090000000
                    dettes: 68060000000
                  resultat:
                    produits_exploitation: 72543000000
                    resultat_net: 8141000000
                  collecte_le: '2026-07-29'
                source: Data from Brønnøysundregistrene — Regnskapsregisteret (data.brreg.no), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
                disclaimer: Le Regnskapsregisteret ouvert ne sert que le DERNIER exercice déposé
                score_defaillance:
                  statut: non_evaluable
                  pays: 'NO'
                  version: evaluabilite-v1
                  raisons:
                  - axes_hors_d_atteinte
                  - historique_a_la_demande
                  - bareme_non_calibre_pour_le_pays
                  postes_normalises:
                  - produits_exploitation
                  ratios_hors_d_atteinte:
                  - marge_ebe
                  flux_insolvabilite: stock
                  lecture: 'Aucun score pour cette entité : `raisons` dit, en liste fermée, ce qui manque au barème pour ce pays. Ni score bas, ni signal, ni absence de risque : aucune bande, aucun classement. / No score for this entity: `raisons` lists, closed, what the scorecard lacks for this country. Neither a low score, nor a signal, nor an absence of risk: no band, no ranking.'
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — or a per-year sub-path, which does not exist for NO. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No annual accounts in the open register for this organisation number — payment cancelled.
        '502':
          description: Upstream error — banks and insurers are not served by the open Norwegian accounts API; payment cancelled.
  /v1/eu/entreprise/NO/{id}/evenements:
    get:
      summary: Norwegian legal events (Enhetsregisteret) — bankruptcy, winding-up, strike-off
      description: 'Norwegian company legal events from the official Enhetsregisteret (Brreg, NLOD 2.0) for insolvency and credit risk monitoring: bankruptcy (konkurs, with the registered date), voluntary or compulsory liquidation, and strike-off, plus current flags checked live. 9-digit organisasjonsnummer. A live-verified company with no flag gets an explicit positive answer. Coarser than France''s BODACC: no ruling text, no court; undated events carry an upper-bound date. Legal persons only, never individuals.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '926455249'
        description: 9-digit Norwegian organisasjonsnummer (no spaces)
      responses:
        '200':
          description: 'Legal events newest first (closed vocabulary: faillite, faillite_levee, dissolution, dissolution_levee, dissolution_forcee, dissolution_forcee_levee, radiation) with `origine_date` — `registre` when Brønnøysundregistrene publishes the date (bankruptcy, strike-off), `constatation` when it publishes none and Sirenic saw the flag switch, `premiere_observation` when the flag was already raised at first sight: then `date_au_plus_tard: true` and the date is only an UPPER BOUND (started on or before). Plus `etat_courant` (flags re-checked live, `lecture_directe` telling how), `journal.derniere_collecte` (journal freshness) and `aucun_evenement: true` as an explicit positive answer — asserted only on a live-verified record, with no raised flag, not struck off, and a current journal. NLOD 2.0 attribution in every response. 3-year window — the source''s own republication limit — except a still-open procedure, whose opening event is always served.'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '926455249'
                denomination: 123 HOLDING AS
                forme_juridique: AS
                etat_courant:
                  faillite: true
                  faillite_date: '2026-02-27'
                  radie_le: null
                  verifie_en_direct: true
                  lecture_directe: verifiee
                evenements:
                - type: faillite
                  libelle: Bankruptcy opened (konkurs)
                  date: '2026-02-27'
                  origine_date: registre
                  date_au_plus_tard: false
                nombre_evenements: 1
                aucun_evenement: false
                source: Data from Brønnøysundregistrene — Enhetsregisteret (data.brreg.no), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown organisation number; a natural-person legal form (ENK, PERS, TVAM) or an estate named after one (KBO, BO), never served; or any legal form not on the recognised legal-person whitelist — payment cancelled.
        '503':
          description: Norwegian legal-events baseline not collected yet (fail-closed), or register unreachable for an unknown company — payment cancelled.
  /v1/eu/entreprise/NO/{id}/dirigeants:
    get:
      summary: Norwegian company officers and board (Enhetsregisteret roles) — management, board, partners, auditor, accountant
      description: 'Norwegian company officers and board from the official Enhetsregisteret (Brønnøysundregistrene, NLOD 2.0), refreshed daily from the national roles bulk: general manager, board chair, members and deputies, auditor and accountant with their own orgnr, fully liable partners, Norwegian representative; current mandates by default, past ones on request. Closed-list roles with the register''s code and wording. GDPR: name and role only, never the published birth date. Legal persons only. 9-digit orgnr.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '923609016'
        description: 9-digit Norwegian organisasjonsnummer (no spaces)
      - name: inclure_anciens
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
        description: Set to true to add deregistered (historical) mandates; by default only current mandates are listed, both counts are always served
      responses:
        '200':
          description: 'Registered roles, direction first then board, partners, holder, auditor, accountant: `organe` and `role` (closed lists) with the register''s code and wording, `titulaire` — a natural person (first name, last name, deceased flag; never a birth date) or an entity (orgnr, name, legal form, struck-off flag, licence status) — `en_cours`, `desinscrit`, `elu_par`, liability share. Both counts always exact; `aucun_mandat_inscrit: true` is an explicit positive answer for a known legal person absent from the day''s bulk.'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '923609016'
                denomination: EQUINOR ASA
                forme_juridique: ASA
                nombre_mandats_en_cours: 14
                nombre_anciens_mandats: 1
                inclure_anciens: false
                aucun_mandat_inscrit: false
                mandats:
                - organe: direction
                  organe_source: DAGL
                  organe_libelle: Daglig leder
                  organe_modifie_le: '2020-11-02'
                  role: directeur_general
                  role_source: DAGL
                  role_libelle: Daglig leder
                  rang: 0
                  titulaire:
                    type: personne
                    prenom: <prénom>
                    nom: <nom>
                    decede: false
                  en_cours: true
                  desinscrit: false
                  elu_par: null
                  elu_par_source: null
                  part_responsabilite: null
                - organe: reviseur
                  organe_source: REVI
                  organe_libelle: Revisor
                  organe_modifie_le: '2019-07-12'
                  role: reviseur
                  role_source: REVI
                  role_libelle: Revisor
                  rang: 0
                  titulaire:
                    type: entite
                    orgnr: '976389387'
                    nom: ERNST & YOUNG AS
                    forme_juridique: AS
                    radiee: false
                    agrement_source: Godkjent revisjonsforetak
                  en_cours: true
                  desinscrit: false
                  elu_par: null
                  elu_par_source: null
                  part_responsabilite: null
                source: Data from Brønnøysundregistrene — Enhetsregisteret, roller (data.brreg.no, bulk national quotidien roller/totalbestand), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
                data_freshness: bulk national quotidien de Brønnøysundregistrene pré-ingéré (régénéré chaque nuit vers 04:00-04:30 CEST, ingéré à 03:30 UTC)
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown organisation number, natural-person form (ENK, PERS, TVAM), estate (KBO, BO) or unrecognised legal form — payment cancelled.
        '503':
          description: Norwegian roles bulk not ingested yet or older than 7 days (fail-closed), or register unreachable for a company absent from the local copy — payment cancelled.
  /v1/eu/entreprise/NO/{id}/etablissements:
    get:
      summary: Norwegian company local units (Enhetsregisteret underenheter) — the SIRET-like establishments, with headcount
      description: 'Norwegian company local units (underenheter, the equivalent of SIRET establishments) from the official Enhetsregisteret (Brønnøysundregistrene, NLOD 2.0), refreshed daily from the national bulk: each unit''s own 9-digit orgnr, name, industry code (NACE-NO) and auxiliary activity, published headcount, location and postal addresses, registration and ownership-change dates, VAT status, plus unit count and cumulative headcount. A known legal person with no unit gets an explicit positive answer.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{9}$
        example: '923609016'
        description: 9-digit Norwegian organisasjonsnummer of the company (no spaces)
      responses:
        '200':
          description: 'Registered local units, largest published headcount first: own orgnr, name, form (BEDR / AAFY), main, secondary and auxiliary activities (NACE-NO), `effectif` with `effectif_publie` (0 = published nil, null = unrecorded) and its date, location and postal addresses, registration, start and ownership-change dates, VAT flag — plus `nombre_unites_locales`, `effectif_cumule` and `aucune_unite_locale: true` as an explicit positive answer for a known legal person absent from the day''s bulk.'
          content:
            application/json:
              example:
                pays: 'NO'
                id_national: '923609016'
                denomination: EQUINOR ASA
                forme_juridique: ASA
                nombre_unites_locales: 35
                effectif_cumule: 21267
                unites_effectif_publie: 21
                aucune_unite_locale: false
                unites_locales:
                - orgnr: '973152351'
                  denomination: EQUINOR ASA AVD KONTOR STAVANGER
                  forme_source: BEDR
                  forme_libelle: Underenhet til næringsdrivende og offentlig forvaltning
                  activite:
                    code: '06.100'
                    libelle: Utvinning av råolje
                  activites_secondaires: []
                  activite_auxiliaire:
                    code: '70.100'
                    libelle: Hovedkontortjenester
                  effectif: 4254
                  effectif_publie: true
                  effectif_le: '2026-09-12'
                  adresse:
                    adresse: Forusbeen 50
                    code_postal: '4035'
                    ville: STAVANGER
                    commune: STAVANGER
                    commune_code: '1103'
                    pays: 'NO'
                  adresse_postale:
                    adresse: Postboks 8500
                    code_postal: '4035'
                    ville: STAVANGER
                    pays: 'NO'
                  inscrite_le: '1995-03-12'
                  debut_activite: '1981-01-01'
                  changement_proprietaire_le: null
                  tva: false
                source: Data from Brønnøysundregistrene — Enhetsregisteret, underenheter (data.brreg.no, bulk national quotidien underenheter/lastned), licence NLOD 2.0
                licence: Data from Brønnøysundregistrene, NLOD 2.0
                data_freshness: bulk national quotidien de Brønnøysundregistrene pré-ingéré (régénéré chaque nuit vers 04:00-04:30 CEST, ingéré à 03:30 UTC)
        '400':
          description: Invalid organisasjonsnummer (9 digits, no spaces) — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: 'Unknown organisation number, natural-person form, estate or unrecognised legal form — payment cancelled. Another country on this path: 404 pays_non_couvert, free.'
        '503':
          description: Norwegian local-units bulk not ingested yet or older than 7 days (fail-closed), or register unreachable for a company absent from the local copy — payment cancelled.
  /v1/eu/entreprise/GB/{company_number}/marches-publics:
    get:
      summary: UK company public procurement (Find a Tender + Contracts Finder — contracts won and notices issued)
      description: 'Public-procurement record of a UK company from Find a Tender (above-threshold notices since 2021) and Contracts Finder (below-threshold since 2023), Cabinet Office OCDS feeds under OGL v3: contracts WON matched by company number — buyer, subject, contract value in GBP, award and signature dates, period, status, official notice link — and notices ISSUED as a buyer, newest first, with totals. Only half of suppliers carry a company number: zero is a non-conclusive absence. Facts, never a score.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^[A-Za-z0-9]{8}$
        example: '10868035'
        description: 8-character UK company number, leading zeros included
      responses:
        '200':
          description: '`attributions` (company as supplier, newest first, max 100 with `tronque_attributions`): `ocid`, `award_id`, `source` (fts | cf), `publie_le`, `titre`, `valeur` + `devise`, `date_attribution`, `date_signature`, `debut`, `fin`, `statut`, `acheteur` (id, company_number, nom), `fournisseur` (nom_publie, id), `lien` (official notice); `nombre_attributions`, `valeur_totale_gbp`, `aucune_attribution` (NON-conclusive). `avis_emis` (company as buyer): `etiquettes` (OCDS tags), `titre`, `categorie`, `methode`, `cpv`, `valeur_estimee`, `lien`; `nombre_avis_emis`. `aucun_marche: true` + `existence_verifiee` = bounded positive answer for a company confirmed at Companies House. `stock` per feed (depuis, dernier_jour_collecte). OGL v3 attribution; never a natural-person supplier.'
          content:
            application/json:
              example:
                pays: GB
                company_number: '10868035'
                attributions:
                - ocid: ocds-h6vhtk-0773eb
                  award_id: '1'
                  source: fts
                  publie_le: '2026-09-16'
                  titre: Facilitate Away Days and LGR Transition
                  valeur: 36606.36
                  devise: GBP
                  date_attribution: null
                  date_signature: '2026-07-27'
                  debut: '2026-07-27'
                  fin: '2028-04-01'
                  statut: active
                  acheteur:
                    id: GB-PPON-PGGG-5373-XYZX
                    company_number: null
                    nom: Dacorum Borough Council
                  fournisseur:
                    nom_publie: CHANGEMAKER ASSOCIATES LIMITED
                    id: GB-COH-10868035
                  lien: https://www.find-tender.service.gov.uk/Notice/087976-2026
                nombre_attributions: 1
                valeur_totale_gbp: 36606.36
                tronque_attributions: false
                aucune_attribution: false
                avis_emis: []
                nombre_avis_emis: 0
                tronque_avis_emis: false
                aucun_marche: false
                existence_verifiee: false
                stock:
                  fts:
                    depuis: '2021-01-01'
                    dernier_jour_collecte: '2026-09-16'
                  cf:
                    depuis: '2023-01-01'
                    dernier_jour_collecte: '2026-09-16'
        '400':
          description: Invalid company number — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: 'Company number unknown to Companies House — payment cancelled. Another country on this path: 404 pays_non_couvert, free.'
        '503':
          description: A feed not collected yet or older than 7 days (fail-closed), or Companies House unreachable when nothing is matched — payment cancelled.
  /v1/eu/entreprise/GB/{company_number}/annonces:
    get:
      summary: UK insolvency notices (The Gazette, official journal) — winding-up, liquidators, administrators, creditors' notices
      description: 'UK company insolvency notices from The Gazette, the official journal (London, Edinburgh, Belfast; OGL v3.0), collected daily from the corporate insolvency feed (category 24): winding-up resolutions and petitions, appointment of liquidators and administrators, winding-up orders, creditors'' notices, dividends — official notice code, closed-list type, date and link. What Companies House does not give. A known company with no notice gets an explicit bounded answer. No personal data.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: SC540982
        description: Companies House company number (8 characters incl. leading zeros, e.g. 00102498, SC540982, NI017460)
      responses:
        '200':
          description: 'Notices newest first: `type` (closed list from the official notice code), `regime` (code range), `code`, `libelle_source`, `date`, `denomination_publiee`, `lien`, `rattachement` (texte = number in the feed, page = notice page read later, linked_data = attached before 17/09/2026). `stock.depuis` (stock start), `stock.dernier_jour_collecte`, `stock.avis_en_attente_de_rattachement` (notices not yet attached: coverage is PARTIAL) and `aucune_annonce: true` as a bounded answer for a company confirmed at Companies House (`existence_verifiee`). OGL v3.0 attribution; no personal data.'
          content:
            application/json:
              example:
                pays: GB
                company_number: SC540982
                nombre_annonces: 1
                aucune_annonce: false
                annonces:
                - notice_id: '5212308'
                  type: nomination_liquidateur
                  regime: liquidation_volontaire_creanciers
                  code: 2443
                  libelle_source: Appointment of Liquidators
                  date: '2026-09-16'
                  denomination_publiee: PRIME PSYCHOLOGY LTD
                  lien: https://www.thegazette.co.uk/notice/5212308
                  rattachement: texte
                stock:
                  depuis: '2025-09-16'
                  dernier_jour_collecte: '2026-09-16'
                  avis_en_attente_de_rattachement: 0
                existence_verifiee: false
                source: The Gazette (London, Edinburgh and Belfast Gazettes, thegazette.co.uk) — corporate insolvency notices, category 24. Contains public sector information licensed under the Open Government Licence v3.0
                licence: Open Government Licence v3.0 (The Gazette / TSO under HMSO) — personal data excluded from re-use
                data_freshness: flux quotidien de The Gazette (catégorie 24) pré-ingéré (collecte à 06:00 UTC, relecture des deux derniers jours) ; rattachement différé des avis sans numéro dans le flux
        '400':
          description: Invalid company number — payment not taken. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: 'Company number unknown to Companies House — payment cancelled. Another country on this path: 404 pays_non_couvert, free.'
        '503':
          description: Gazette stock not collected yet or older than 7 days (fail-closed), or Companies House unreachable / not configured when no notice is attached — payment cancelled.
  /v1/eu/entreprise/GB/{company_number}/dirigeants:
    get:
      summary: UK company officers (Companies House, live) — active directors and secretaries
      description: 'UK company officers live from Companies House, the official UK company registry, by company number (e.g. GB/00102498): active directors and secretaries with role, appointment date, nationality, occupation, country of residence and month+year of birth only — never a correspondence address (GDPR minimisation). Resigned-officer count included. Built for KYB and due diligence on director appointments and governance. Contains public sector information licensed under the Open Government Licence v3.0.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: 00102498
        description: Companies House company number (8 characters incl. leading zeros, e.g. 00102498, SC123456, NI017460)
      responses:
        '200':
          description: 'Active officers with role, appointment date, nationality, occupation, country of residence and month+year of birth only (GDPR minimisation: no correspondence address), plus active/resigned counts. OGL v3.0 attribution in `source`.'
          content:
            application/json:
              example:
                pays: GB
                company_number: '00000006'
                nombre_actifs: 0
                nombre_demissionnes: 49
                tronque: false
                dirigeants:
                - nom: <nom du dirigeant>
                  fonction: director
                  nomme_le: null
                  nationalite: null
                  profession: null
                  pays_de_residence: null
                  naissance: null
                source: Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).
                data_freshness: Companies House temps réel (cache 24 h)
        '400':
          description: Invalid company number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown company number — payment cancelled.
        '503':
          description: Companies House key not configured or upstream quota reached — payment cancelled.
  /v1/eu/entreprise/GB/{company_number}/beneficiaires-effectifs:
    get:
      summary: UK beneficial owners (PSC register, Companies House, live)
      description: 'UK persons with significant control (PSC register) live from Companies House, for KYB and group-structure checks: LEGAL-ENTITY controllers only (corporate entities, legal persons) with natures of control (ownership/voting bands), notification dates and register identification, plus official PSC statements. Natural-person controllers are COUNTED, never named (GDPR, CJEU C-798/24, since 2026-09-19). Ceased PSCs excluded by default (inclure_cesses=true adds them).'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: 08130873
        description: Companies House company number
      - name: inclure_cesses
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'true'
        description: Also return ceased PSCs (with their ceased_on date)
      responses:
        '200':
          description: LEGAL-ENTITY controllers only since 2026-09-19 (natures of control, notification dates, register identification), PSC statements, exemption flag for listed companies; natural-person controllers COUNTED in personnes_physiques_omises, never named (CJEU C-798/24). Ceased PSCs excluded unless inclure_cesses=true.
          content:
            application/json:
              example:
                pays: GB
                company_number: 00446915
                nombre_actifs: 1
                nombre_cesses: 0
                exemption_possible: false
                personnes_physiques_omises:
                  actifs: 0
                  cesses: 0
                autres_types_omis:
                  actifs: 0
                  cesses: 0
                beneficiaires:
                - type: entite
                  nom: Bp International Limited
                  notifie_le: '2016-04-06'
                  natures_de_controle:
                  - ownership-of-shares-75-to-100-percent
                  identification:
                    forme_juridique: Limited By Shares
                    registre: Companies House
                    numero_registre: '00542515'
                declarations: []
                source: Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).
                data_freshness: Companies House temps réel (cache 24 h)
        '400':
          description: Invalid company number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown company number — payment cancelled.
        '503':
          description: Companies House key not configured or upstream quota reached — payment cancelled.
  /v1/eu/entreprise/GB/{company_number}/insolvabilite:
    get:
      summary: UK company insolvency record (Companies House, live)
      description: 'UK company insolvency record for credit risk and compliance screening, live from Companies House by company number: liquidation (compulsory or voluntary), administration, receivership and other cases with their dates and insolvency practitioners (name and role only, no addresses). A company with NO recorded case returns an explicit positive answer (200, aucune_procedure) — the register is authoritative, an empty record is a fact. Open Government Licence v3.0 (Companies House).'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: company_number
        in: path
        required: true
        schema:
          type: string
          pattern: ^([0-9]{8}|[A-Za-z]{2}[0-9]{6}|[A-Za-z][0-9]{7})$
        example: NI017460
        description: Companies House company number
      responses:
        '200':
          description: 'Insolvency cases (type, dates, practitioners without addresses) — or an explicit positive `aucune_procedure: true` when the register records no case (the registrar is authoritative).'
          content:
            application/json:
              example:
                pays: GB
                company_number: NI017460
                aucune_procedure: false
                statuts:
                - liquidation
                cas:
                - type: compulsory-liquidation
                  numero: '1'
                  dates:
                  - type: wound-up-on
                    date: '2008-11-20'
                  praticiens:
                  - nom: <nom du praticien de l'insolvabilité>
                    role: practitioner
                    nomme_le: null
                    fin_de_mission_le: null
                  notes: []
                source: Companies House (api.company-information.service.gov.uk). Contains public sector information licensed under the Open Government Licence v3.0 (Companies House).
                data_freshness: Companies House temps réel (cache 24 h)
        '400':
          description: Invalid company number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown company number — payment cancelled.
        '503':
          description: Companies House key not configured or upstream quota reached — payment cancelled.
  /v1/eu/entreprise/LV/{regnr}/comptes:
    get:
      summary: Latvian annual accounts (Uzņēmumu reģistrs / VID filings) — every filed fiscal year in one call
      description: 'Latvian company annual accounts — official financial statements from VID filings via the Uzņēmumu reģistrs open data of Latvia (CC0, daily). Query: /v1/eu/entreprise/LV/40003032065/comptes (11-digit registration number). EVERY filed fiscal year in one call: balance sheet, profit and loss (revenue, net income), cash flow when filed, employees, as published (EUR, LVL before 2014; statutory and consolidated filings kept apart). Null = not published, never zero.'
      x-price: $0.03
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Every filed fiscal year, newest first: balance sheet, P&L, cash flow when filed, employees — as published (filing currency EUR or LVL, published rounding unit; statutory and consolidated filings kept apart via `perimetre`). CC0 attribution (Uzņēmumu reģistrs / VID, data.gov.lv) in every response.'
          content:
            application/json:
              example:
                pays: LV
                id_national: '40003032949'
                nombre_exercices: 2
                exercices:
                - date_cloture: '2025-12-31'
                  exercice: 2025
                  perimetre: statutaire
                  devise: EUR
                  arrondi: THOUSANDS
                  employes: 1389
                  bilan:
                    total_actif: 4189397
                  compte_resultat:
                    chiffre_affaires: 949824
                  flux_tresorerie:
                    flux_exploitation: 376739
                source: Uzņēmumu reģistrs / VID — open data data.gov.lv
                licence: Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0
                disclaimer: Postes clés des rapports annuels déposés au VID, tels que publiés par l'Uzņēmumu reģistrs (CC0)
        '400':
          description: Invalid registration number (11 digits) — or a per-year sub-path, which does not exist for LV. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: No filed annual accounts for this registration number — payment cancelled.
        '503':
          description: Latvian accounts stock not yet ingested (fail-closed) — payment cancelled.
  /v1/eu/entreprise/LV/{regnr}/insolvabilite:
    get:
      summary: Latvian company insolvency record (Uzņēmumu reģistrs, daily national photo)
      description: 'Latvian company insolvency record from the official Uzņēmumu reģistrs open data (CC0, daily photo since 2008), built for credit risk and compliance screening: insolvency and legal protection proceedings in Latvia with start/end dates, resolution, court and case number. A registered company with NO proceeding returns an explicit positive answer (200, aucune_procedure: true) — the register is authoritative. 11-digit registration number.'
      x-price: $0.02
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: regnr
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Insolvency and legal-protection proceedings (dates, resolution, court, case number; null end date = ongoing) — or an explicit positive `aucune_procedure: true` for a registered company with no proceeding (the register is authoritative).'
          content:
            application/json:
              example:
                pays: LV
                id_national: '40103144555'
                aucune_procedure: false
                procedures:
                - proceeding_id: 90134947
                  debiteur: SIA "NaviFleet"
                  debut: '2025-10-14'
                  fin: null
                  forme: LEGAL_PROTECTION
                  type: NATIONAL
                  resolution: null
                  numero_affaire: C771723525
                  tribunal: Rīgas pilsētas tiesa
                source: Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0
                data_freshness: photo quotidienne data.gov.lv pré-ingérée (MAJ amont ~20:25 UTC)
        '400':
          description: Invalid registration number format. Never charged. / Jamais facturé.
        '402':
          $ref: '#/components/responses/Reponse402PaymentRequired'
        '404':
          description: Unknown registration number — payment cancelled.
        '503':
          description: Latvian insolvency stock not yet ingested (fail-closed) — payment cancelled.
  /v1/eu/entreprise/LV/{regnr}/dirigeants:
    get:
      summary: Latvian company officers (Uzņēmumu reģistrs, refreshed daily)
      description: 'Latvian company officers and directors from the official Uzņēmumu reģistrs (Latvia''s company registry) open data (CC0, daily): board members, chairs, liquidators and other representatives with name, role, governing body, representation rights (individually/jointly) and registration date; corporate officers carry their own registration number. For KYB and governance. GDPR minimisation: never the Latvian personal identity number, birth month+year only when published. 11-digit registration number.'
      x-price: $0.01
      x-payment:
        protocol: x402
        network: eip155:8453
      parameters:
      - name: regnr
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d{11}$
        example: '40003032065'
        description: 11-digit Latvian registration number
      responses:
        '200':
          description: 'Board members, chairs, liquidators and other representatives: name, role, governing body, representation rights, registration date; corporate officers carry their own registration number. Never the Latvian personal identity number; birth month+year only when published.'
          content:
            application/json:
              example:
                pays: LV
                id_national: '40203109838'
                nombre_dirigeants: 1
                dirigeants:
                - type: entite
                  nom: SIA "ENESAN"
                  fonction: MEMBER
                  organe: null
                  naissance: null
                  regnr_entite: '40103761688'
                  representation: INDIVIDUALLY
                  representation_minimum: 0
                  inscrit_le: '2019-04-29'
                source: Uzņēmumu reģistrs / VID — open data data.gov.lv (Gada pārskatu finanšu dati, Maksātnespējas procesi, Amatpersonas, Patiesie labuma guvēji), licence CC0 1.0
                licence: Uzņēmumu reģistrs / VID, data.gov.lv, CC0 1.0
        '400':
[...]
